@use "../../globals/fonts";

.Dropdown {
  position: relative;
  @include fonts.text-style-3-d-fonts-1920-body-regular;
  cursor: pointer;

  &__title {
    background-color: var(--color-surface-gray-300);
    background-color: var(--color-surface-gray-200-transperent-88);
    color: var(--text-gray-900);
    white-space: nowrap;
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      fill: var(--icon-gray-700);
      margin-left: var(--space-2);
      transform-origin: center;
      transform-box: fill-box;
      transition: 0.25s ease-out;
    }
  }

  &.highlighted &__title {
    background-color: var(--color-surface-brand-800);
    border-color: var(--border-brand-800);
    color: var(--s3d2-color-text-gray-200);

    svg {
      fill: var(--s3d2-color-icon-gray-200);
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.25s ease-out;
  }

  &:hover &__content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    // background-color: var(--color-surface-gray-400);
  }

  &:hover &__title > svg {
    transform: rotate(180deg);
  }

  &__item {
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--border-space-1);
    background-color: var(--color-surface-gray-200);
    color: var(--text-gray-900);
    transition: 0.25s ease-out;
    border: 1px solid var(--border-gray-400);
    border-radius: var(--border-space-1);
    margin-top: -1px;
    cursor: pointer;

    &.active {
      pointer-events: none;
      background-color: var(--color-special-200-transparent-88);
      opacity: 0.5;
    }

    &.active-because-prev-history-is-flyby {
      background-color: var(--color-surface-brand-800);
      border-color: var(--border-brand-800);
      color: var(--s3d2-color-text-gray-200);
    }
  }

  &__title {
    padding: var(--space-2) var(--space-3);
    border: 1px solid var(--border-gray-400);
    border-radius: var(--border-space-1);
  }

  &--animate &__title {
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: var(--border-space-1);
      background: var(--color-surface-brand-900);
      // border: 1px solid var(--color-surface-brand-900);
      transform: translate3d(0, 0, 0);
      opacity: 0;
      transform-origin: center;
    }
  }

  &--animate.playing &__title {
    position: relative;

    &:before {
      opacity: 1;
      animation: pulseAnime 3s ease-out infinite;
    }

    &:after {
      opacity: 1;
      animation: pulseAnime 3s ease-out 1s infinite;
    }
  }

  &--tiny &__title {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &--tiny svg {
    margin: 0;
  }

  .IconButton.active {
    background-color: var(--color-brand-900) !important;
  }
}

@keyframes pulseAnime {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }

  90% {
    opacity: 0.1;
  }

  to {
    transform: scale(1.2, 1.5);
    opacity: 0;
  }
}

.mouseOnly,
.hybrid {
  .Dropdown {
    &__item:not(.active-because-prev-history-is-flyby):hover {
      background-color: var(--color-surface-gray-300);
    }
  }
}
