@use "../../globals/fonts";

.accordion-wrapper {
  width: 100%;
  border: 1px solid var(--border-gray-600-transparent-40);
  border-radius: var(--border-space-2);
  background-color: var(--color-surface-gray-200-transperent-88);
  overflow: hidden;
}

.accordion {
  color: var(--text-gray-900);
  cursor: pointer;
  padding: var(--space-3);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;

  background-color: var(--color-surface-gray-200-transperent-88);
  transition: 0.4s;
  @include fonts.text-style-3-d-fonts-1920-body-regular;

  &__padding-block {
    height: var(--space-2);
    width: 100%;
  }

  &:after {
    content: '';
    /* Unicode character for "plus" sign (+) */
    width: 16px;
    height: 16px;

    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9762 4.97619C12.775 4.78706 12.4585 4.79685 12.2694 4.99806L7.99766 9.54265L3.72591 4.99806C3.53678 4.79685 3.22035 4.78706 3.01914 4.97619C2.81793 5.16532 2.80814 5.48175 2.99726 5.68296L7.56047 10.5376C7.79742 10.7897 8.19789 10.7897 8.43484 10.5376L12.998 5.68296C13.1872 5.48175 13.1774 5.16532 12.9762 4.97619Z' fill='%236C7A88'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-left: 5px;
    transform-origin: center;
    transition: .25s ease-out;
  }

  &.active:after {
    content: "";
    /* Unicode character for "minus" sign (-) */
    transform: rotate(180deg);
  }

  &.active,
  &:hover {
    // background-color: #ccc;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 var(--space-2);
  background-color: white;
  background-color: var(--color-surface-gray-200-transperent-88);
  // display: none;
  overflow: hidden;

  max-height: 0;
  transition: .25s ease-out;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-05);

  // padding-bottom: var(--space-2);
  &>*:not(.accordion__padding-block) {
    width: auto !important;
  }
}