.s3d2-back-button {
  position: fixed;
  top: 62px;
  // left: 26px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border: none;
  border-radius: var(--space-16, 64px);

  //light theme
  background: var(--s3d2-color-surface-gray-200-transparent-80);

  backdrop-filter: blur(20px);
  transition: 0.25s ease-out;
  cursor: pointer;
  overflow: hidden;
  padding: 0 !important;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.15s ease-out;
    background-color: var(--s3d2-color-surface-gray-200-transparent-10);
    border-radius: 50%;
    overflow: hidden;
  }

  &:hover {
    &::after {
      transform: translateX(0);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    path {
      fill: var(--s3d2-color-icon-gray-900);
    }
  }

  @media screen and (max-width: 767px) {
    top: 52px;
    left: 8px;
  }
}
