.s3d2-toggle-label-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.s3d2-toggle-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.s3d2-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.s3d2-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 24px;
  height: 14px;
  border-radius: 64px;
  background: var(--s3d2-color-surface-gray-900);
  display: block;
  border-radius: 100px;
  border: 1px solid var(--s3d2-color-border-gray-900);
  position: relative;
}

.s3d2-toggle-label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--s3d2-color-icon-gray-200);
  transition: transform 0.3s;
  transform: translateX(0);
}

.s3d2-toggle-input:checked + .s3d2-toggle-label {
  background: transparent;
}

.s3d2-toggle-input:checked + .s3d2-toggle-label:after {
  transform: translateX(10px);
  background: var(--s3d2-color-surface-gray-900);
}

.s3d2-toggle-label:active:after {
  width: 15px;
}
