@use "../../globals/fonts";
@use "../../globals/s3d2_fonts";

.s3d2-Dropdown {
  position: relative;
  @include s3d2_fonts.fonts-3d-small-medium;
  cursor: pointer;
  border-radius: var(--space-2);

  &__title {
    padding: var(--space-3) var(--space-4);
    color: var(--s3d2-color-text-gray-900);
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 40px;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--s3d2-color-text-gray-900);
      margin-left: var(--space-2);
      transform-origin: center;
      transform-box: fill-box;
      transition: 0.25s ease-out;

      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }

  &.highlighted &__title {
    // background-color: var(--color-surface-brand-800);
    // border-color: var(--border-brand-800);
    color: var(--s3d2-color-text-gray-900);

    svg {
      fill: var(--s3d2-color-text-gray-900);
    }
  }

  &__content {
    position: absolute;
    // top: 100%;
    bottom: 0;
    transform: translateY(calc(100% + 1px));
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.25s ease-out;

    @media screen and (max-width: 767px) {
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
      transform: translate(100%, 0);
      opacity: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: var(--space-2, 8px);
      background: var(--s3d2-color-surface-gray-200-transparent-80, rgba(26, 30, 33, 0.8));
      backdrop-filter: blur(20px);
    }
  }

  &:hover {
    background: var(--s3d2-color-surface-gray-900-transparent-10);
  }

  &:hover &__content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    // background-color: var(--color-surface-gray-400);
  }

  &:hover &__title > svg {
    transform: rotate(180deg);
  }

  &__item {
    @include s3d2_fonts.fonts-3d-small-medium;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    border-radius: var(--space-1);
    background-color: var(--s3d2-color-surface-gray-200-transparent-80);
    color: var(--s3d2-color-text-gray-900);
    transition: 0.25s ease-out;
    border: 1px solid transparent;
    margin-top: -1px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.active {
      pointer-events: none;
      background-color: var(--s3d2-color-surface-gray-200-transparent-80);
      opacity: 0.5;
    }

    &.active-because-prev-history-is-flyby {
      background-color: var(--color-surface-brand-800);
      border-color: var(--border-brand-800);
      color: var(--s3d2-color-text-gray-200);
    }

    &::after {
      content: '';
      width: 209%;
      height: 200%;
      position: absolute;
      top: -20%;
      left: -215%;
      -webkit-transform: skew(30deg);
      -ms-transform: skew(30deg);
      transform: skew(30deg);
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1),
        -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      background: var(--s3d2-color-surface-gray-200-transparent-10) !important;
    }
  }

  &__title {
    // padding: var(--space-2) var(--space-3);
    // border: 1px solid var(--border-gray-400);
    border-radius: var(--space-2);
  }

  &--animate &__title {
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: var(--border-space-1);
      background: var(--color-surface-brand-900);
      // border: 1px solid var(--color-surface-brand-900);
      transform: translate3d(0, 0, 0);
      opacity: 0;
      transform-origin: center;
    }
  }

  &--animate.playing &__title {
    position: relative;

    &:before {
      opacity: 1;
      animation: pulseAnime 3s ease-out infinite;
    }

    &:after {
      opacity: 1;
      animation: pulseAnime 3s ease-out 1s infinite;
    }
  }

  &--tiny &__title {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &--tiny svg {
    margin: 0;
  }

  .IconButton.active {
    background-color: var(--color-brand-900) !important;
  }
}

@keyframes pulseAnime {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }

  90% {
    opacity: 0.1;
  }

  to {
    transform: scale(1.2, 1.5);
    opacity: 0;
  }
}

.mouseOnly,
.hybrid {
  .s3d2-Dropdown {
    &__item:not(.active-because-prev-history-is-flyby):hover {
      // background-color: var(--s3d2-color-surface-gray-900-transparent-10);

      &::after {
        transform: translate3d(100%, 0, 0) skew(25deg);
      }
    }
  }
}

.s3d2-header__nav-button.active .s3d2-Dropdown__title {
  color: var(--s3d2-color-text-gray-200);

  svg {
    fill: var(--s3d2-color-text-gray-200);
  }
}
