@use "../../../../s3d2/styles/assets/mixins";
@use "../../assets/vars";

.button-desktop-text-mobile-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    height: var(--btn);
    width: fit-content;
    border: vars.$menu-3d-border-btn;
    border-radius: var(--border-space-2);
    background: vars.$menu-3d-background-btn;
    @include mixins.font-default;
    font-size: var(--font14);
    color: vars.$menu-3d-text-color-btn;
    pointer-events: painted;
    transition: all 0.3s ease-in;
    overflow: hidden;
    cursor: pointer;

    [fill] {
        fill: vars.$button-desktop-text-mobile-icon-svg-color;
    }
    [stroke] {
        stroke: vars.$button-desktop-text-mobile-icon-svg-color;
    }

}

.desktop {
    .button-desktop-text-mobile-icon svg {
        display: none;
    }
}

html:not(.desktop) {
    .button-desktop-text-mobile-icon span {
        display: none;
    }
}