@use "../assets/vars";

.fs-preloader-before {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  // height: 100%;
  // background-color: $loader-bg;
  
  visibility: hidden;
  opacity: 0;
  z-index: 9000;
  pointer-events: none;
  color: vars.$loader-text-color;
  gap: 16px;
  transition: .2s ease-in-out;

  &.preloader-active {
    visibility: visible;
    opacity: 1;
    transition: .2s ease-in-out;
  }

  &-background {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: vars.$loader-bg;
    // backdrop-filter: blur(1px);
    border-radius: 20px;
    display: none;
  }

  &-precent{
    position: relative;
    z-index: 1;
  }

  &-box {
    width: 50px;
    height: 50px;
    background: vars.$loader-icon-color;
    border-radius: 3px;
  }
  
  &.preloader-active &-box {
    
    animation: fsAnimate 1.3s linear infinite;
  }

  &-shadow {
    width: 50px;
    height: 5px;
    background: vars.$loader-icon-color;
    opacity: 0.1;
    border-radius: 50%;
    // animation: fsShadow 2s linear infinite;
  }

  &.preloader-active &-shadow {
    animation: fsShadow 2s linear infinite;
  }

  &-text-large {
    font-family: vars.$default-font;
    font-size: 24px;
    line-height: 120%;
    max-width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: vars.$loader-text-color;
  }

  &-text-subtitle {
    color: vars.$loader-text-color;
    text-align: center;
  }
  .fs-preloader-precent  {
    position: relative;
  }
}


.horizontal-mob-curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: vars.$wc;
  color: vars.$bc;
  font-family: vars.$default-font;
  font-size: 5vw;
  line-height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  text-align: center;

}
.mobile.landscape {
  .horizontal-mob-curtain {
    // display: flex;
  }
}


// .fs-preloader-before {
//   background-color: transparent;
// }
.fs-preloader-precent,
.fs-preloader-before-precent__progress,
.fs-preloader-before-text-subtitle,
.fs-preloader-before-text-large
// .fs-preloader-before-background 
{
  display: none;
} 
// .fs-preloader-before {
//   .fs-preloader-before-box {
//     position: absolute;
//     right: 30px;
//     bottom: 30px;
//   }
// }