.menu {
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-surface-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: var(--space-5);
    padding-top: var(--space-20);
    @media screen and (max-width: 768px) {
      padding: var(--space-4);
    }
    @media screen and (max-width: 600px) {
      max-width: 250px;
    }
    &.active {
      visibility: visible;
      opacity: 1;
      transition: /*opacity .3s ease-in-out,*/ visibility 0.3s ease-in-out;
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.slide-out-right {
      -webkit-animation: slide-out-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-out-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 85%;
      z-index: -1;
    }

    @media screen and (max-width: 1024px) {
      .smarto_logo {
        bottom: -3px;
        top: auto;
      }
    }
  }

  &-img {
    margin-bottom: var(--space-2);
  }

  &-header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 590px;
    height: var(--s3d-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--offset);
    z-index: 4;
    &-title {
      // @include font-default;
      // font-size: var(--s3d-title);
      // text-transform: uppercase;
      // color: var(--text-gray-900);
      display: none;
    }
    &-close {
      // border-radius: var(--border-space-2f-close);
      // background: var(--color-surface-brand-800);
      pointer-events: painted;
      cursor: pointer;
      height: var(--btn);
      width: var(--btn);
      position: relative;
      transition: background 0.4s ease-in-out;
      position: absolute;
      right: var(--space-3);
      top: var(--space-3);
      z-index: 3;
      @media screen and (max-width: 768px) {
        right: var(--space-2);
        top: var(--space-2);
      }

      &-elem-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        span {
          width: 13px;
          height: 1.5px;
          border: 2px;
          background: var(--s3d2-color-icon-gray-900);
          transform: rotate(45deg);
          &:last-child {
            transform: rotate(-45deg);
            margin-top: -1.5px;
          }
        }
      }

      @media (hover: hover) {
        transform-origin: center;
        transition: 0.25s ease-in-out;
        &:hover {
          transform: rotate(180deg);
          // background: var(--color-surface-brand-900);
          // transition: background .4s ease-in-out;
          // .menu-header-close-elem-wrapper {
          //   span {
          //     background: var(--s3d2-color-icon-gray-200);
          //     transition: background .4s ease-in-out;
          //   }
          // }
        }
      }
    }
  }

  &-nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
    overflow-y: auto;
    ul {
      width: 100%;
    }
    li {
      width: auto;
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);
      border-bottom: 0.5px solid var(--icon-gray-400);
      a {
        transition: color 0.3s ease-in-out;
      }
    }
    li ~ li {
    }
    &-wrap {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-link {
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;

      color: var(--text-gray-800);
      svg {
        stroke: var(--text-gray-800);
        // fill: var(--text-gray-800);
      }
      .no-fill {
        fill: transparent;
      }
      & > div {
        text-decoration: none;
        color: var(--text-gray-800);
        cursor: pointer;

        @media screen and (min-width: 1023px) {
          &:hover {
            color: var(--text-gray-900);
            transition: color 0.3s ease-in-out;
          }
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
