@use "../../../s3d2/styles/globals/fonts";

[data-3d_tour_v2_container] {
  height: calc(100vh - var(--s3d-header));
  position: relative;
}

[data-smarto-tours-title-container] {
  position: absolute;
  left: var(--space-2);
  bottom: var(--space-2);
  z-index: 3;
  color: white;
}

.s3d-smarto-tours {
  position: relative;
  --nav-button-size: 50px;

  a-scene {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  &__menu {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    padding: var(--space-2);
    z-index: 2;
    transform: translateZ(1px);
  }

  &__css-hotspots-wrapper {
    position: absolute;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    pointer-events: none;
    overflow: visible;
    z-index: 2;

    .hotspot-label {
      position: absolute;
      transform: translate(-50%, -50%);
      color: var(--text-gray-900);
      border-radius: 6px;
      white-space: nowrap;
      transition: opacity 0.15s;
      opacity: 1;
      pointer-events: all;
      cursor: pointer;

      &__title {
        width: 50px;
        height: 100px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='129' height='199' viewBox='0 0 129 199' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='129' height='199' rx='64.5' fill='white'/%3E%3Cg clip-path='url(%23clip0_1191_1960)'%3E%3Cpath d='M61 93L68 93L68 149L61 149L61 93Z' fill='%230A0F13'/%3E%3Cpath d='M64.5 48.9997L89 73.1281L83.7334 78.4492L68 63L68 93L61 93L61 63L45.2666 78.4492L40 73.1281L64.5 48.9997Z' fill='%230A0F13'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1191_1960'%3E%3Crect width='100' height='49' fill='white' transform='translate(40 149) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: contain;

        @media screen and (max-width: 600px) {
          width: 25px;
          height: 50px;
        }
      }

      &__hover {
        width: 225px;
        height: 130px;
        border-radius: var(--space-2);
        border: 1px solid var(--border-gray-200);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        transition: 0.25s ease-in-out;

        .hotspot-label__button {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 26px;
          background-color: var(--s3d2-color-icon-gray-200);
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--space-1);
        }

        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background-color: var(--s3d2-color-icon-gray-200);
          padding-top: var(--space-2);
          padding-bottom: var(--space-2);
          text-align: center;
          font-size: 16px;
        }
      }

      &:hover .hotspot-label__hover {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -100%);
      }

      img {
        display: block;
        width: 250%;
        height: 100%;
        max-width: none;
        object-fit: cover;
        object-position: center;
      }
    }

    .hotspot-label.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__nav-button {
    background-color: var(--s3d2-color-icon-gray-200);
    width: var(--nav-button-size);
    height: var(--nav-button-size);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-6);

    &.active &-icon--when-active {
      display: initial;
    }

    &.active &-icon--when-inactive {
      display: none;
    }

    &-icon--when-active {
      display: none;
    }

    &-icon--when-inactive {
      display: initial;
    }

    svg {
      width: 60%;
      height: 60%;

      [fill] {
        fill: var(--color-brand-800);
      }

      [stroke] {
        stroke: var(--color-brand-800);
      }
    }

    &:hover {
      background-color: var(--icon-gray-400);

      svg {
        [fill] {
          fill: var(--color-brand-900);
        }

        [stroke] {
          stroke: var(--color-brand-900);
        }
      }
    }
  }

  &__navbar {
    position: absolute;
    left: calc(var(--nav-button-size) + var(--space-2));
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(-300%) translateZ(1px);
    transition: 0.35s ease-in-out;
    z-index: 10;
    gap: var(--space-1);
    background: #f9fafdb5;
    padding: var(--space-2);
    border-radius: var(--space-2);
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
    justify-content: flex-start;

    & > * {
      width: 100%;
    }

    &.visible {
      transform: translateX(0) translateZ(1px);
    }
  }

  &__options {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--space-2);
    z-index: 2;
    transform: translateZ(1px);
  }

  &__loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-brand-800);
    color: var(--s3d2-color-text-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
    gap: var(--space-2);
  }

  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }

  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }

  .loader:after {
    color: #fff;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: 0.2em 0px 0 0px currentcolor;
    }

    12% {
      box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }

    25% {
      box-shadow: 0 0.2em 0 0px currentcolor;
    }

    37% {
      box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }

    50% {
      box-shadow: -0.2em 0 0 0 currentcolor;
    }

    62% {
      box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }

    75% {
      box-shadow: 0px -0.2em 0 0 currentcolor;
    }

    87% {
      box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
  }
}

.a-enter-vr.fullscreen {
  background: rgb(0, 84, 80)
    url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27108%27 height=%2762%27 viewBox=%270 0 108 62%27%3E%3Ctitle%3Eaframe-vrmode-noborder-reduced-tracking%3C/title%3E%3Cpath d=%27M68.81,21.56H64.23v8.27h4.58a4.13,4.13,0,0,0,3.1-1.09,4.2,4.2,0,0,0,1-3,4.24,4.24,0,0,0-1-3A4.05,4.05,0,0,0,68.81,21.56Z%27 fill=%27%23fff%27/%3E%3Cpath d=%27M96,0H12A12,12,0,0,0,0,12V50A12,12,0,0,0,12,62H96a12,12,0,0,0,12-12V12A12,12,0,0,0,96,0ZM41.9,46H34L24,16h8l6,21.84,6-21.84H52Zm39.29,0H73.44L68.15,35.39H64.23V46H57V16H68.81q5.32,0,8.34,2.37a8,8,0,0,1,3,6.69,9.68,9.68,0,0,1-1.27,5.18,8.9,8.9,0,0,1-4,3.34l6.26,12.11Z%27 fill=%27%23fff%27/%3E%3C/svg%3E')
    50% 50% no-repeat !important;
}

.flatplan-wrapper {
  --flat-plan-size: 350px;
  --flat-plan-scale: 0.85;
  --accent-color: var(--color-brand-800);
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: bottom;
  transform: var(--flat-plan-scale);
  transform: scale(var(--flat-plan-scale)) translateX(-130%) translateZ(1px);
  transition: 0.35s ease-in-out;

  background: var(--s3d2-color-text-gray-200);
  background: #fafbfe85;
  border-radius: var(--space-2);
  padding: var(--space-4);
  text-align: center;
  @media screen and (max-width: 600px) {
    --flat-plan-scale: 1;
  }

  &__title {
    @include fonts.text-style-3-d-fonts-1920-h-1;
  }

  &__nav {
    margin-bottom: var(--space-2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-2);
    grid-area: var(--space-1);
  }

  &.visible {
    transform: scale(var(--flat-plan-scale)) translateX(0) translateZ(1px);
  }
}

.flat-plan {
  width: var(--flat-plan-size);
  height: var(--flat-plan-size);
  z-index: 4;
  position: relative;
}

.flat-plan-level-button {
  background-color: var(--s3d2-color-icon-gray-200);
  padding: var(--space-2);
  border-radius: var(--space-1);
  cursor: pointer;
  @include fonts.text-style-villas-1920-buttons;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-gray-300);
  background-color: var(--color-surface-gray-200-transperent-88);
  padding: var(--space-2) var(--space-3);
  border: 1px solid var(--border-gray-400);
  border-radius: var(--space-2);
  color: var(--text-gray-900);
  transition: 0.25s ease-out;
  cursor: pointer;

  &:hover {
    background-color: var(--icon-gray-400);
  }

  &.active {
    background-color: var(--border-brand-800);
    color: var(--s3d2-color-text-gray-200);
    pointer-events: none;
  }
}

@media screen and (max-width: 1024px) {
  .flat-plan {
    transform: scale(var(--flat-plan-scale));
    transform-origin: bottom left;
    left: 0;
    transition: 0.25s ease-in-out;
  }
}

.flat-plan-pin {
  position: absolute;
  /* background-color: green; */
  border-radius: 50%;
  cursor: pointer;
  --size: 20px;
  width: var(--size);
  height: var(--size);

  &.active {
    pointer-events: none;
    z-index: 2;
  }
}

.flat-plan-pin:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 25px;
  // background-color: var(--accent-color);
  // border: 3px solid white;
  // border-radius: 50%;
  z-index: 99;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgnPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjIuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDY0IDY0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjQgNjQiIHk9IjBweCIgaWQ9IkxheWVyXzEiIHg9IjBweCI+CiA8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7fQoJLnN0MXtmaWxsOiNFNkU2RTY7c3Ryb2tlOiMxNDE0MTQ7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQoJLnN0MntmaWxsOiNGRkZGRkY7c3Ryb2tlOiMxNDE0MTQ7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgogPGcgaWQ9InF1YWRyYXRvX2NlbnRyYXRvcmUiPgogIDxyZWN0IHdpZHRoPSI2NCIgY2xhc3M9InN0MCIgaGVpZ2h0PSI2NCIvPgogPC9nPgogPGcgaWQ9Imljb25hIj4KICA8cGF0aCBkPSJNMzIsMy4yYzEwLjYsMCwxOS4yLDguNiwxOS4yLDE5LjJsMCwwYzAsMTIuNC0xMCwzMC42LTE5LjIsMzguNGwwLDBjLTkuMy03LjgtMTkuMi0yNi0xOS4yLTM4LjRsMCwwICAgQzEyLjgsMTEuOCwyMS40LDMuMiwzMiwzLjJMMzIsMy4yeiIgY2xhc3M9InN0MSIvPgogIDxjaXJjbGUgY3g9IjMyIiBjbGFzcz0ic3QyIiBjeT0iMjIuNCIgcj0iNC4zIi8+CiA8L2c+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flat-plan-pin.active:after {
  // background-color: green;
  // border: 3px solid white;

  background: rgb(230, 230, 230);
  border: 1px solid rgb(20, 20, 20);
  border-radius: 20px;
  cursor: default;
  height: 16px;
  position: absolute;
  visibility: inherit;
  width: 16px;
  pointer-events: auto;
  transform-origin: 50% 50%;
}

.flat-plan img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// .flat-plan-pin svg {
//     display: none;
//     position: absolute;
//     left: -50%;
//     top: -50%;
//     width: 200%;
//     height: 200%;
//     transform-origin: center;
//     transform-box: fill-box;
// }
.flat-plan-pin svg {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600%;
  height: 600%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
  transform: translateX(-50%) translateY(-50%);
}

.flat-plan-pin.active svg {
  display: initial;
}
