.s3d-flat-dashboard {
  position: relative;
  padding-top: calc(var(--s3d-header) + var(--space-10));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: var(--space-8);
  // background: url(/wp-content/themes/3d/assets/s3d/images/background-inside.jpg);
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
  &__gallery {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-2);
    border-radius: var(--space-2);
    overflow: hidden;
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    &-item-wrap {
      width: 100%;
      overflow: hidden;
      border-radius: var(--space-3);
    }
    &-item {
      position: relative;
      padding-bottom: 72.5%;
      cursor: pointer;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 600px) {
      &-item-wrap:nth-child(n + 2) {
        display: none;
      }
    }
    &-item-wrap:first-child {
      grid-area: 1 / 1 / 3 / 1;
    }
    &-item-wrap:first-child &-item {
      padding-bottom: Min(74%, 80vh);
    }
    &-button {
      position: absolute !important;
      right: var(--space-2);
      bottom: var(--space-2);
      background: var(--s3d2-color-surface-gray-200-transparent-80) !important;
      backdrop-filter: blur(20px);
      border: none !important;
    }
    &--less-items {
      grid-template-rows: auto;
    }
    &--less-items &-item-wrap:nth-child(1) {
      grid-area: 1 / 1 / 2 / 4;
    }

    &--less-items &-item-wrap:nth-child(n + 2) {
      display: none;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    width: calc(290 / 1512) * 100vw;

    @media screen and (max-width: 600px) {
      width: 100%;
      // flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: var(--space-4);
      column-gap: var(--space-2);
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      span {
        color: var(--s3d2-color-text-gray-900);
        display: flex;
        align-items: center;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 2px;
        path {
          fill: var(--s3d2-color-text-gray-800);
        }
      }
    }

    &-details {
      width: calc(851 / 1512) * 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-details-item {
      padding: 0 var(--space-5);
      border-right: 1px solid var(--s3d2-color-surface-gray-200-transparent-10);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--space-2);

      &:last-child {
        border-right: none;
      }
      &__icon {
        width: 16px;
        height: 16px;
        fill: var(--s3d2-color-text-gray-800);
        @media screen and (min-width: 601px) {
          display: none;
        }
      }
      span {
        color: var(--s3d2-color-text-gray-900);
      }
      @media screen and (max-width: 600px) {
        &--mobile-row {
          display: flex;
          align-items: center;
          gap: var(--space-2);
        }
        .text-style-3-d-fonts-1920-h-1 {
          font-size: 14px;
          font-weight: 500;
        }
        .text-gray-800 {
          font-size: 14px;
        }
      }
      @media screen and (max-width: 600px) {
        &--mobile-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: var(--space-2);
        }
        &--mobile-head {
          .text-style-3-d-fonts-1920-h-1 {
            font-size: 20px;
          }
        }
      }
    }
  }
  &__call-to-action {
    // width: 25%;
    width: calc(290 / 1512) * 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-1);
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    & > * {
      border: none;
      // width: 100%;
      justify-content: center;
      flex-grow: 1;
    }
    & > :first-child {
      flex-basis: 100%;
    }
  }

  &__call-to-action-inner {
    border-radius: var(--space-2);
    border: 1px solid var(--s3d2-color-border-gray-900);
    display: flex;
    overflow: hidden;

    > * {
      border: none;
      overflow: hidden;
      border-radius: 0 !important;
      max-width: 50%;
      min-width: 33.33%;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__status-label {
    position: absolute;
    left: var(--space-1);
    top: var(--space-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: var(--space-4);
    padding: 0 1px 0 var(--space-1);
    border-radius: var(--space-24);
    background-color: var(--s3d2-color-semantic-success);
    color: var(--s3d2-color-text-gray-200);
    span {
      color: var(--s3d2-color-text-gray-200);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding: 3px 0;
    }

    svg {
      width: 14px;
      height: 14px;
      path {
        fill: var(--s3d2-color-text-gray-200);
      }
    }
  }
}
