@use "../../../s3d2/styles/assets/mixins";
@use "../../../s3d2/styles/globals/fonts";
@use "../assets/vars";

.s3d-fv,
.s3d-pl {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'amount amount amount'
    '. content .';
  grid-template-columns: calc(var(--controller-w) + var(--offset)) auto calc(
      var(--controller-w) + var(--offset)
    );
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding-top: var(--s3d-header);

  // [data-compare-show-differences],
  [data-compare-pdf] {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    grid-template-columns: calc(var(--controller-w) + var(--offset)) auto var(--offset);
  }

  @media screen and (max-width: 1440px) and (min-width: 1024px) {
    --filter-width: 375px;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'amount'
      'content';
  }

  &__amount-flat {
  }

  &__mobile-results {
    padding-top: var(--space-3);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }

  // @include fonts.text-style-3-d-fonts-1920-h-2-regular;

  &__not-found {
    color: var(--text-gray-900);
    text-align: left;
    background-color: var(--not-found-color);
    // border: 1px solid var(--border-semantic-warning);
    padding: var(--space-4);
    border-radius: var(--border-space-3);
    margin-bottom: var(--space-4);
    margin-top: 0;
    @media screen and (max-width: 768px) {
      margin: var(--space-2);
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      // color: var(--text-warning);
      color: var(--text-gray-900);
      // margin-bottom: var(--space-2);

      svg {
        width: 24px;
        height: 24px;
        fill: var(--icon-warning);
        margin-right: var(--space-3);
      }
    }

    &-bottom {
      font-size: 13px;
      color: var(--color-gray-700);
      text-align: center;
    }
  }

  &__container {
    grid-area: content;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;
    overflow: hidden;

    .s3d-fv__list,
    .s3d-pl__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
      grid-auto-rows: max-content;
      column-gap: 20px;
      width: 100%;
      overflow-y: auto;
      // margin-top: 25px;
      margin-left: 0;
      margin-right: 0;
      @include mixins.scrollbar-v;

      @media screen and (max-width: 1440px) {
        grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        margin-top: var(--offset);
        padding: 0 var(--offset);
      }

      @media screen and (max-width: 680px) {
        // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-top: 0;
        &.list {
          margin-top: var(--space-2);
        }
      }

      /*&::-webkit-scrollbar {
        display: none;
      }*/
    }
    .s3d-pl__list.list {
      display: flex;
      flex-direction: column;
      .s3d-card {
        position: relative;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        min-height: 200px;
        padding: 20px;
        margin: var(--space-2) 0;
        &:first-child {
          margin-top: 0;
        }
        .s3d-card__header {
          min-width: 560px;
          width: 560px;
          @media screen and (min-width: 1025px) and (max-width: 1420px) {
            width: 410px;
            min-width: 410px;
          }
        }
        .s3d-card__image {
          position: absolute;
          left: 0px;
          top: 0px;
          bottom: 0px;
          box-sizing: border-box;
          width: 200px;
          height: 100%;
          padding: 40px;
          margin: 0;
          min-height: 100%;
        }
        .left {
          position: absolute;
          left: 220px;
          bottom: 50px;
          height: min-content;
          padding: 0;
        }
        .right {
          position: absolute;
          top: 8px;
          right: 8px;
        }
        .s3d-card__middle {
          position: absolute;
          left: 220px;
          top: 50px;
          width: 320px;
          height: min-content;
          padding: 0;
          @media screen and (min-width: 1241px) and (max-width: 1520px) {
            width: 240px;
          }
          @media screen and (min-width: 1025px) and (max-width: 1240px) {
            width: 170px;
          }
        }
        .s3d-card__info-label-wrapper {
          position: absolute;
          left: 427px;
          bottom: 50px;
          height: 26px;
          margin: 0;
          padding: 0;
        }
        .s3d-card__info-wrapper {
          display: flex;
          flex-direction: row-reverse;
          gap: 0;
          width: 100%;
          padding: 0;
        }
        .s3d-card__table {
          position: relative;
          display: flex;
          align-items: center;
          width: 50%;
          top: 30px;
          height: 38px;
          padding-left: 30px;
          text-align: start;
        }
        .s3d-card__title {
          position: relative;
          width: 50%;
          top: 30px;
          height: 38px;
          padding-right: 30px;
          text-align: end;
        }
        .s3d-card__title::after {
          content: '/';
          position: absolute;
          right: 0;
        }
      }
    }

    .s3d-pl__list {
      // margin-bottom: calc(var(--menu-h) + var(--offset));
    }

    .s3d-fv__list {
      margin-bottom: var(--offset);

      .s3d-card {
        .s3d__close {
          display: flex;
        }

        .s3d-card__status {
          top: auto;
          bottom: 0;
          border-radius: var(--border-space-2) var(--border-space-2) 0 var(--border-space-2);
        }
      }
    }
  }

  .s3d__wrapper__plannings__filter {
    display: none;

    @media screen and (max-width: 680px) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: var(--controller-h);
      left: 0;
      width: 100%;
      height: var(--menu-h);
      background: vars.$filter-bg-2;
      visibility: visible;
      border-top: vars.$flat-menu-border;

      .s3d-ctr__menu-3d-btn-style {
        visibility: visible;
        border: 1px solid vars.$filter-text-color;
        color: vars.$filter-text-color;

        .s3d-ctr__filter__icon {
          margin-right: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: var(--icon16);
            width: var(--icon16);
            stroke: vars.$filter-text-color;
          }
        }
      }
    }
  }
  &__toggle-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-4);
    @media screen and (max-width: 1366px) {
      margin-bottom: var(--space-2);
      padding-left: var(--space-4);
      padding-right: var(--space-4);
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
      button span {
        display: none;
      }
    }
  }
  &__toggle-list-buttons-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0px;
    width: 100px;
    height: 100%;
    background-color: var(--color-surface-brand-800);
    border-color: var(--border-brand-900);
    border-radius: var(--border-space-2);
    transition: all 0.25s ease-out;
    @media screen and (max-width: 768px) {
      width: 40px;
    }
  }
  &__toggle-list-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--color-surface-gray-200-transperent-88);
    border-radius: var(--border-space-2);
    border: 1px solid var(--border-gray-400);
    cursor: pointer;
    overflow: hidden;
    .ButtonIconLeft {
      display: flex;
      justify-content: center;
      width: 90px;
      position: relative;
      border: none;
      @media screen and (max-width: 768px) {
        width: 40px;
        padding: var(--space-2);
      }
      span {
        position: relative;
        z-index: 2;
        transition: all 0.9s ease-out;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      svg {
        position: relative;
        z-index: 2;
        fill: var(--s3d2-color-icon-gray-900);
        transition: all 0.9s ease-out;
        @media screen and (max-width: 768px) {
          margin-right: 0;
        }
        path {
          fill: var(--s3d2-color-icon-gray-900);
        }
      }
    }

    .ButtonIconLeft.active {
      color: var(--s3d2-color-icon-gray-200);
      pointer-events: none;
      svg {
        fill: var(--s3d2-color-icon-gray-200);
        path {
          fill: var(--s3d2-color-icon-gray-200);
        }
      }
    }
    .ButtonIconLeft.active {
      background-color: var(--color-surface-brand-800);
      border-color: var(--border-brand-900);
      color: var(--s3d2-color-icon-gray-200);
    }
  }
  @media (hover: hover) {
    &__toggle-list-buttons:hover {
      border-color: var(--border-gray-600-transparent-88);
      background-color: var(--color-surface-gray-400-transperent-88);
    }
    .ButtonIconLeft.active:hover {
      background-color: var(--color-surface-brand-800);
      border-color: var(--border-brand-900);
      color: var(--s3d2-color-icon-gray-200);
    }
  }
}

.s3d-pl {
  grid-template-areas:
    'filter content content'
    'filter content content';
  grid-template-columns: var(--filter-width) auto calc(var(--controller-w) + var(--offset));
  grid-template-rows: auto 100%;
  padding: calc(var(--space-4) + var(--s3d-header)) var(--space-4) var(--space-4);
  height: calc(var(--vh) * 100);
  align-self: flex-end;
  column-gap: var(--space-4);

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.35s ease-out;
    @media screen and (max-width: 600px) {
      transition: none;
    }
  }

  &__mobile-results {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__toggle-list {
    margin-top: var(--space-2);
    // margin-bottom: 0;
    &-mobile-amount {
      margin-left: var(--space-5);
      margin-right: auto;
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }

  &__container {
    // &.pending
    position: relative;

    &-pending {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: var(--color-special-200-transparent-40);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.15s ease-out;
    }

    &.pending &-pending {
      opacity: 1;
      visibility: visible;
      pointer-events: painted;
    }

    &.pending .s3d-pl__list {
      opacity: 0;
    }
  }

  &__container:not(.pending) .lds-ring div {
    animation: none;
  }

  &__filter-container {
    grid-area: filter;

    &:empty {
      display: none;
    }

    & > * {
      position: static;
    }
  }
}

.desktop {
  .s3d-filter-wrap {
    // @media screen and (max-width: 1160px) {
    //   --filter-width: min(350px, 100vw);
    // }
  }

  @media screen and (max-width: 1160px) {
    .s3d-pl {
      grid-template-columns: min(350px, 100vw) auto calc(var(--controller-w) + var(--offset));
      padding-bottom: 0;
    }
  }
}

.tablet {
  .s3d-pl {
    align-self: flex-start;
    padding-top: var(--s3d-header);
  }

  .s3d__wrapper__plannings__filter {
    display: flex;

    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: var(--controller-h);
    left: 0;
    width: 100%;
    height: var(--menu-h);
    background: vars.$filter-bg-2;
    visibility: visible;
    border-top: vars.$flat-menu-border;

    .s3d-ctr__menu-3d-btn-style {
      visibility: visible;
      border: 1px solid vars.$filter-text-color;
      color: vars.$filter-text-color;

      .s3d-ctr__filter__icon {
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: var(--icon16);
          width: var(--icon16);
          stroke: vars.$filter-text-color;
        }
      }
    }
  }
}

.mobile,
.tablet {
  .s3d-fv__container .s3d-pl__list,
  .s3d-pl__container .s3d-pl__list {
    // height: calc(100vh - var(--menu-h) * 2 - var(--controller-h) - var(--s3d-header) - 47px);
    // height: calc((var(--vh, 1vh) * 100) - var(--menu-h) - var(--controller-h) - var(--s3d-header));
  }
}

.tablet.landscape {
  @media screen and (min-width: 1365px) {
    .s3d-fv__container .s3d-pl__list,
    .s3d-pl__container .s3d-pl__list {
      height: calc(var(--vh, 1vh) * 100);
    }

    .s3d-filter-wrap.s3d-planning-filter-wrap {
      bottom: 0;
    }

    .s3d__wrapper__plannings__filter {
      position: fixed;
      bottom: 0;
    }
  }
}

.tablet {
  .s3d-pl {
    grid-template-areas:
      'content content content'
      'content content content';
    padding: calc(var(--s3d-header) + var(--space-1)) 0 0 0;
    grid-template-columns: 1fr 1fr 1fr;

    .s3d__wrapper__plannings__filter {
      display: none;
    }

    .s3d-filter-wrap {
      position: fixed;
      left: 0;
      // top: var(--s3d-header);
      top: auto;
      height: max-content;
      bottom: var(--mobile-controller-height);
      transform: translateX(-100%);

      .s3d-filter__close-wrap {
        display: flex;
        top: 16px;
        width: 24px;
        height: 24px;
        right: var(--space-3);
      }

      &.s3d-open-filter {
        transform: translateX(0);
      }
    }
  }
}

.mobile {
  .s3d-card {
    transition: none;
  }
  .s3d-pl {
    grid-template-areas: 'content';
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    padding-top: calc(var(--s3d-header) + var(--space-6));

    .s3d__wrapper__plannings__filter {
      display: none;
    }

    .s3d-filter-wrap {
      position: fixed;
      left: 0;
      // top: var(--s3d-header);
      top: auto;
      height: max-content;
      bottom: var(--mobile-controller-height);
      transform: translateX(-100%);
      width: calc(100vw - var(--space-8));
      left: var(--space-4);
      transition: 0.25s ease-in !important;

      .s3d-filter__close-wrap {
        display: flex;
        top: 10px;
        right: calc(var(--space-3) * -1);
        top: var(--space-5);
      }

      &.s3d-open-filter {
        transform: translateX(0);
      }
    }
  }
}

.s3d-fv {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  padding-top: calc(var(--s3d-header) + var(--space-4));
  grid-template-areas:
    'amount amount amount'
    'content content content';

  .s3d-fv__container {
    .s3d-fv__list {
      display: flex;
      align-items: flex-start;
      grid-gap: 0;
      overflow-x: auto;
      flex-grow: 1;
      @include mixins.scrollbars(8px, var(--color-surface-gray-600), transparent);
      @include mixins.scrollbar-h;
      overscroll-behavior: none;

      & > * {
        flex-shrink: 0;
        min-width: 320px;
        // width: 26%;
        width: 17vw;
      }
    }
  }

  &__amount-flat {
    grid-area: amount;
    padding: var(--space-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    & > :first-child {
      margin-right: auto;
    }

    & > :nth-child(n + 2) {
      margin-left: var(--space-2);
    }
  }

  .EmptyFavourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100% !important;
    flex-grow: 1;
    height: 100%;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--icon-gray-700);
    }
  }
}

.tablet {
  .s3d-fv {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    padding-top: calc(var(--s3d-header) + var(--space-4));
    grid-template-areas:
      'amount amount amount'
      'content content content';

    .s3d-fv__container {
      .s3d-fv__list {
        display: flex;
        grid-gap: 0;
        overflow-x: auto;
        @include mixins.scrollbars(10px, var(--color-surface-gray-600), transparent);

        & > * {
          flex-shrink: 0;
          width: 40%;
        }
      }
    }
  }
}

.mobile {
  .s3d-fv {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    padding-top: calc(var(--s3d-header) + var(--space-2));

    .EmptyFavourites {
      padding-bottom: var(--mobile-controller-height);
      &__title {
        text-align: center;
      }
    }

    &__amount-flat {
      flex-wrap: wrap;
      justify-content: flex-start;
      font-size: var(--font24);

      & > :nth-child(n + 2) {
        margin-left: initial;
      }

      & > :nth-child(2),
      & > :nth-child(1) {
        width: 100%;
        margin-bottom: var(--space-2);
      }

      .ButtonIconLeft {
        margin-left: var(--space-2);
      }
    }

    .s3d-fv__container {
      padding: 0;
      height: calc(100% - var(--mobile-controller-height));

      .s3d-fv__list {
        padding: 0;
        grid-gap: var(--space-2);
        margin-top: 0;

        // padding-bottom: var(--mobile-controller-height);
        // &>* {
        // width: 90%;
        // }
      }
    }
  }
}

.mobile {
  .s3d-pl__container {
    .s3d-pl__list.list {
      .s3d-card {
        height: auto;
        min-height: auto;
        flex-wrap: wrap;
        overflow: initial;
        display: grid;
        grid-template-columns: 1fr 1.45fr;
        grid-template-rows: auto auto auto auto;
        gap: var(--space-4) var(--space-6);
        padding: var(--space-2) var(--space-5) var(--space-2) var(--space-2);
        grid-template-areas:
          'labels labels'
          'image info'
          'image info2'
          'labels2 labels2';
        position: relative;
        /*this is for info label absolute positioning on mobile*/
        padding-bottom: calc(var(--space-6) + 13px + var(--space-6));
        &__image {
          position: relative;
          padding: var(--space-2);
          width: auto;
          height: auto;
          min-height: initial;
          padding: var(--space-2) var(--space-2) var(--space-2) var(--space-4);
          grid-area: image;
        }
        &__header {
          width: auto;
          min-width: auto;
          grid-area: labels;
          padding-bottom: 0;
        }
        &__info-wrapper {
          grid-area: info2;
          flex-wrap: wrap;
          justify-content: flex-end;
        }
        &__middle {
          position: static;
          width: auto;
          height: auto;
          grid-area: info;
          @include fonts.text-style-villas-1366-h-4;
          font-size: 18px;
        }
        &__info-label-wrapper {
          position: static;
          position: absolute;
          bottom: calc(var(--space-6) + 2px);
          left: var(--space-5);
        }
        &__table {
          position: static;
          padding-left: 0;
          height: auto;
          width: auto;
        }
        &__title {
          position: static;
          padding-right: 0;
          width: auto;
          height: auto;
          &:after {
            display: none;
          }
        }
        .left {
          position: static;
        }
        .right {
          width: 24px;
          height: 24px;
          label {
            padding: 0;
          }
        }
      }
    }
  }
}
