@use "../../../s3d2/styles/globals/fonts";
@use "../assets/vars";

.s3d {
  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-100);
    padding: var(--space-2) var(--space-2) var(--space-5);
    transition: border 0.4s ease-in-out;
    cursor: pointer;
    border-radius: var(--border-space-2);
    overflow: hidden;
    min-height: 360px;
    height: auto;
    transition: box-shadow 0.3s ease;
    margin: 10px 0;
    &:hover {
      box-shadow: 0px 0px 10px 0px var(--color-shadow-gray-900-transperent-40);
    }

    @media screen and (min-width: 1023px) {
      &:hover {
        border-color: var(--border-gray-600);

        .s3d-card__image {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    @media screen and (max-width: 680px) {
      min-height: 300px;
    }
    &__badge {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-2);
      padding: var(--space-1) var(--space-2);
      color: var(--color-gray-700);
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      border-radius: var(--border-space-2);
      border: 1px solid var(--border-gray-400);
      &-icon {
        width: var(--space-4);
        height: var(--space-4);
      }
    }
    &__header {
      padding-bottom: var(--space-4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .left {
        display: flex;
      }
    }
    &__middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;
      font-size: 24px;
      color: var(--color-gray-900);
      font-weight: 300;
      line-height: 120%;
      letter-spacing: -2px;
      margin-bottom: var(--space-2);
      @media screen and (min-width: 1025px) {
        font-size: 18px;
      }
      .decorative-slash {
        color: var(--color-gray-600);
      }
    }
    &__image {
      position: relative;
      height: 220px;
      min-height: 220px;
      width: 100%;
      padding: calc(var(--offset) / 2);
      padding-bottom: var(--space-2);
      margin-bottom: var(--space-2);
      display: flex;
      align-items: center;
      justify-content: center;
      // border-bottom: 1px solid $card-border-color;
      transition: border-bottom 0.4s ease-in-out;
      border-radius: var(--border-space-1);
      background-color: var(--color-surface-gray-100);

      @media screen and (max-width: 680px) {
        height: 170px;
        min-height: 170px;
        padding: 12px;
      }

      img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        transition: transform 0.4s ease-in-out;
      }

      &-info {
        // position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        height: auto;
        width: auto;
        padding: var(--space-1) var(--space-2);
        @include fonts.text-style-3-d-fonts-1920-body-regular;
        font-family: 'Chalet Lonninse', sans-serif;
        border-radius: var(--border-space-2);

        & > svg {
          width: 24px;
          height: 24px;
          // margin-top: calc(var(--space-1) * -1);
          // margin-bottom: calc(var(--space-1) * -1);
          // margin-left: var(--space-1);
        }

        // &.s3d-card__price {
        //   left: 0;
        //   bottom: 0;
        //   // border-radius: 0 $btn-border-radius 0 0;
        //   // border-radius: 0 4px 0 0;

        //   background-color: #C0D1E1;
        //   background-color: $sale-3;

        //   color: $card-text-color;
        //   color: $sale-text;
        // }

        &.s3d-card__status {
          font-size: 12px;
          text-transform: uppercase;
          color: var(--color-gray-200);
          border-radius: var(--border-space-2);

          svg {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            fill: var(--s3d2-color-icon-gray-200);
          }

          &[data-sale='0'] {
            background: vars.$sale-0;
          }

          &[data-sale='1'] {
            background: vars.$sale-1;
          }

          &[data-sale='2'] {
            background: vars.$sale-2;
          }

          &[data-sale='3'] {
            background: vars.$sale-3;
          }
        }

        &.s3d-card__rooms-count {
          left: 0;
          top: 0;
          top: 50%;
          background-color: var(--s3d2-color-icon-gray-900);
          color: var(--s3d2-color-text-gray-200);
        }
      }
    }
    &__info-wrapper {
      // padding: var(--offset);
      padding: 0 var(--space-3);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      height: 100%;
      width: calc(100% - 24px);
      gap: var(--space-2);

      .s3d-card__title {
        @include fonts.text-style-3-d-fonts-1920-h-1;
        color: var(--text-gray-900);
        margin-bottom: calc(var(--space-2) * -1);
        font-size: 28px;
      }

      .s3d-card__table {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 2px 8px;

        .s3d-card__row {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @include fonts.text-style-3-d-fonts-1920-semi-tiny;
          color: var(--color-gray-700);
          gap: 3px;
        }
      }

      .s3d-card__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
        margin-top: auto;

        button {
          flex-grow: 1;
          text-align: center;
        }
      }
    }

    &__info-label-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      margin-top: 12px;
    }

    &__info-label {
      @include fonts.text-style-3-d-fonts-tiny;
      font-family: 'Chalet Lonninse';
      color: var(--color-gray-700);
      text-transform: uppercase;
    }

    .s3d__close {
      display: none;
      position: absolute;
      top: calc(var(--offset) / 2);
      right: calc(var(--offset) / 2);
      z-index: 50;
      height: var(--icon16);
      width: var(--icon16);
      border: none;
      align-items: center;
      justify-content: center;
      background: transparent;
      cursor: pointer;
      padding: 0;

      @media screen and (min-width: 1023px) {
        &:hover {
          svg {
            transition: fill 0.4s ease-in-out;
            fill: var(--s3d2-color-icon-gray-900);
          }
        }
      }

      @media screen and (max-width: 680px) {
        top: 12px;
        right: 12px;
      }

      svg {
        width: 100%;
        height: 100%;
        transition: fill 0.4s ease-in-out;
        fill: var(--s3d2-color-icon-gray-900);
      }
    }
    &__right-bottom-button {
      position: absolute;
      right: var(--space-3);
      bottom: var(--space-4);
      z-index: 1;
      padding: var(--space-05);
      border-radius: var(--space-2);
      width: var(--space-6);
      height: var(--space-6);
      svg {
        width: 100%;
        height: 100%;
      }
      @media (hover: hover) {
        transition: 0.25s ease-in-out;
        [fill] {
          transition: 0.25s ease-in-out;
        }
        &:hover {
          background: var(--color-surface-gray-400-transperent-88);
          [fill] {
            // fill: var(--color-brand-800);
          }
          [stroke] {
            // stroke: var(--color-brand-800);
          }
        }
      }
    }
  }
}

.tablet {
  .s3d-card {
    &__info-wrapper {
      padding: 0 var(--space-3);
    }
  }
}
