@use "../../../s3d2/styles/assets/mixins";
@use "../../../s3d2/styles/globals/fonts";

.s3d-filter-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  // height: calc(var(--vh, 1svh) * 100 - var(--s3d-header));
  width: var(--filter-width);
  visibility: hidden;
  background: var(--color-surface-gray-100);
  z-index: 120;
  transform: translateX(-100%);
  // opacity: 0;
  transition: opacity 0.25s ease-out;
  transition: transform 0.3s linear, opacity 0.2s linear;
  overflow-y: scroll;
  overflow-x: hidden;
  @include mixins.scrollbar-h;
  &::-webkit-scrollbar {
    width: var(--space-2);
  }
  // padding: 0 var(--space-5) var(--space-5) var(--space-5);
  .s3d-card {
    margin: 5px 0;
  }
  .js-filter-range {
    margin-bottom: var(--space-5);
    &:last-child {
      margin-bottom: 0;
    }
  }

  .Range__title {
    margin-bottom: var(--space-2);
    color: var(--text-gray-700);
  }

  &.hidden-when-change-parent {
    opacity: 0 !important;
  }

  &.s3d-open-filter {
    transform: translateX(0);
    transition: transform 0.3s linear, opacity 0.2s linear;
    opacity: 1;
  }

  &:not(.s3d-show) {
    .irs-max,
    .irs-min,
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
      visibility: hidden !important;
    }
  }

  .s3d-filter__close-wrap {
    position: absolute;
    right: var(--space-4);
    height: var(--icon16);
    width: var(--icon16);

    height: var(--space-6);
    width: var(--space-6);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    z-index: 50;

    svg {
      height: 100%;
      width: 100%;
      fill: var(--s3d2-color-icon-gray-900);
      transition: 0.3s ease-in-out;
      transform-origin: center;
      transform-box: fill-box;
    }

    @media screen and (min-width: 1023px) {
      &:hover {
        svg {
          // fill: var(--s3d2-color-icon-gray-900);
          transform: rotate(90deg);
        }
      }
    }
  }

  .s3d-filter__top-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: calc(var(--s3d-header) + var(--space-2)) var(--space-5) 0 var(--space-5);
    background-color: var(--color-gray-100);
    width: 100%;
    @media screen and (max-width: 600px) {
      padding-top: var(--space-5);
    }
  }

  .s3d-filter__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--space-5) var(--filter-offset-ver) var(--space-5);
    z-index: 1;

    .s3d-filter__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: auto;
      margin-left: var(--space-4);
      margin-right: auto;
    }

    .s3d-filter {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      gap: var(--space-5);
      transition: height 0.4s ease-in-out;
      overflow-y: hidden;

      &__input-wrapper {
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        width: 2px;
        display: none;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background: var(--surface-gray-700);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--surface-gray-900);
        -webkit-box-shadow: none;
      }

      &::-webkit-scrollbar-thumb:window-inactive {
        background: var(--surface-gray-900);
      }

      .s3d-filter__range-wrapper,
      .s3d-filter__checkboxes-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: var(--space-1);

        .s3d-filter__param {
          width: 100%;

          &-title {
            // @include font-default;
            // font-size: 13px;
            text-align: left;
            // color: $filter-text-color;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: auto;
            margin-bottom: var(--space-2);
            color: var(--text-gray-700);
          }
        }
      }

      .s3d-filter__range-wrapper {
        flex-direction: column;
      }

      .s3d-filter__input-wrapper {
        display: none;
        input {
          border-radius: var(--border-space-2);
          padding-top: var(--space-3);
          padding-bottom: var(--space-3);
          width: 100%;
          background-color: var(--color-surface-gray-200);
          &::placeholder {
            color: var(--text-gray-600);
          }

          &:focus {
            background-color: var(--color-gray-100);
          }
          @media (hover: hover) {
            &:hover {
              background-color: var(--color-surface-gray-300);
            }
          }
        }
      }

      .s3d-filter__checkboxes-wrapper {
        flex-direction: row;
        flex-wrap: wrap;

        .s3d-filter__checkbox__row {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 4px;
          max-height: 100px;
          overflow-y: auto;
          @include mixins.scrollbars(4px, var(--color-surface-gray-600), transparent);

          &.s3d-filter__checkbox__row--wide {
            margin-left: calc(var(--space-2) * -1);

            label {
              width: auto;
              min-width: 24%;
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }

  .s3d-filter__view-type-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: calc(var(--s3d-header) + 80px);
    width: 100%;
    z-index: 2;
    // padding-left: 20px;
    background-color: var(--color-gray-200);
    .s3d-filter__hide {
      padding-top: var(--space-2);
    }
    &:not(.is-sticky) .s3d-filter__hide {
      background: var(
        --colors-surface-gray-surface-gray-200-transparent-72,
        rgba(250, 251, 254, 0.72)
      );
      pointer-events: none;
      svg {
        fill: var(--Colors-Text-Gray-text-gray-600, #aebecc);
      }
      span {
        color: var(--Colors-Text-Gray-text-gray-600, #aebecc);
      }
    }
    @media screen and (max-width: 600px) {
      top: calc(var(--s3d-header) + 45px);
    }
  }

  .s3d-filter__view-type {
    position: absolute;
    // top: calc(var(--s3d-header) + 10px);
    // z-index: 2;
    // background: $filter-type-bg;
    // left: var(--filter-offset-hor);
    left: var(--space-5);
    // border-radius: 0px 0px $btn-border-radius $btn-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    // overflow: hidden;

    button {
      --size: 32px;
      width: var(--size);
      height: var(--size);
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      border-radius: var(--border-space-1);
      overflow: hidden;
      border: 1px solid var(--border-gray-400);
      transition: 0.25s ease-in-out;
      background-color: var(--color-surface-gray-200);

      svg {
        width: calc(100% / 28 * 24);
        height: calc(100% / 28 * 24);
        fill: var(--s3d2-color-icon-gray-900);
        transition: 0.25s ease-in-out;
      }

      &.active {
        background-color: var(--color-surface-brand-800);
        // border-color: var(--border-gray-900);

        svg {
          fill: var(--s3d2-color-icon-gray-200);
        }
      }

      @media (hover: hover) {
        &:not(.active):hover {
          background-color: var(--color-surface-gray-400-transperent-88);
          border-color: var(--color-surface-gray-400-transperent-88);

          svg {
            fill: var(--s3d2-color-icon-gray-900);
          }
        }
      }
    }

    & > * {
      width: 28px;
      height: 28px;
    }
  }

  .s3d-filter__hide {
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    // position: sticky;
    // top: calc(var(--s3d-header) + 50px);
    // bottom: 1px;
    // z-index: 2;
    // left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: translate(-50%, -100%);
    padding: 0 var(--space-6) var(--space-4);
    background: var(--color-surface-gray-100);
    font-size: var(--font14);
    color: var(--text-gray-900);
    transition: color 0.4s ease-in-out;
    border-radius: 0 0 var(--space-2) var(--space-2);
    gap: 12px;

    &:not([data-sort='none']) {
      cursor: pointer;
    }

    * {
      pointer-events: none;
    }

    &:after {
      content: '';
      border-top: 3px solid var(--icon-gray-700);
      border-right: 3px solid var(--icon-gray-700);
      border-radius: var(--border-space-05);
      transition: transform 0.5s ease-out;
      transform: rotate(-45deg) translateY(50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8px;
      width: 8px;
      display: none;
    }

    svg {
      width: var(--space-4);
      height: var(--space-4);
      fill: var(--icon-gray-700);
      transform-origin: center;
      transform-box: fill-box;
      transition: 0.25s ease-out;
      transform: rotate(180deg);
    }

    transition: 0.25s ease-out;

    @media screen and (min-width: 1023px) {
      &:hover {
        box-shadow: 0px 2px 1px 0px
          var(--colors-effects-shadow-gray-900-transparent-24, rgba(32, 35, 38, 0.24));

        svg {
          // transform: rotate(0);
        }

        &:after {
          // transform: rotate(135deg);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }

  .s3d-filter__scroll-active {
    .s3d-filter__top-results {
      display: none;
    }

    .s3d-filter {
      &__table {
        margin: 0;
      }

      &__hide {
        // svg,
        &:after {
          transform: rotate(135deg) translateY(-10%);
        }
      }
    }
  }

  &.s3d-filter__scroll-active {
    .s3d-filter__hide {
      svg {
        transform: rotate(180deg);
      }

      @media (hover: hover) {
        &:hover {
          svg {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  // .s3d-filter__top-results {
  //   position: sticky;
  //   z-index: 2;
  //   top: calc(var(--s3d-header) + 30px);
  //   background-color: var(--color-gray-100);
  //   justify-content: space-between;
  // }

  .smarto_powered {
    @media (hover: hover) {
      a {
        position: relative;
      }

      a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--s3d2-color-icon-gray-900);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
        transform-origin: left;
      }

      a:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  .s3d-filter__body .s3d-card .s3d-card__info-label-wrapper {
    padding-right: 20%;
  }
}

.s3d-filter-desktop-infobox {
  position: absolute;
  z-index: 121;
  left: var(--filter-width);
  top: 0;
  pointer-events: none;
  width: 185px;
  height: 125px;
  background-color: var(--color-surface-gray-100);
  opacity: 0;
  visibility: hidden;
  padding: var(--space-2);
  transition: 0.25s ease-out;
  border-radius: var(--border-space-1);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.filter-subtitle {
  @extend .text-style-3-d-fonts-1920-body-regular;
  color: var(--text-gray-700);
  @media screen and (min-width: 769px) {
    // margin-bottom: var(--space-2);
    margin-bottom: 0;
  }
}

.desktop {
  .s3d-filter__hide {
    &:after {
      // -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
      // animation: heartbeat 2.5s ease-in-out infinite both;
    }
  }
}

.tablet,
.mobile {
  .s3d-filter-desktop-infobox {
    display: none !important;
  }
}

.mobile {
  .s3d-filter-wrap .s3d-filter__top .s3d-filter__hide {
    &:after {
      transform: rotate(-45deg) translateY(0);
    }
  }

  .s3d-filter__scroll-active .s3d-filter__top .s3d-filter__hide {
    &:after {
      transform: rotate(135deg) translateY(25%);
    }
  }

  .s3d__slideModule > .s3d-filter-wrap {
    .s3d-filter__top {
      .s3d-filter {
        // max-height: 60vh;
        // overflow-y: auto;
        justify-content: flex-start;
      }
    }
  }
}

.flat-not-marked-message {
  .tippy-box {
    background-color: var(--surface-gray-700);
    padding: 8px;
    border-radius: var(--border-space-2);
  }

  .tippy-arrow {
    color: var(--surface-gray-700);
  }
}

.s3d-filter-wrap.s3d-planning-filter-wrap {
  padding: 0 var(--space-5) var(--space-5) var(--space-5);
  transform: none;
  // opacity: 1;
  // border: 1px solid var(--border-gray-400);
  border-radius: var(--border-space-3);
  height: auto;
  overflow-y: auto;

  .s3d-filter__top {
    justify-content: flex-start;
    height: auto !important;
    padding: 0;
  }

  .s3d-filter__close-wrap,
  .s3d-filter__view-type,
  .s3d-filter__hide,
  .s3d-filter__table {
    display: none;
  }

  .s3d-filter__top-sticky {
    padding: var(--space-5) 0 0 0;
  }
}

.desktop {
  .s3d-filter-wrap.s3d-planning-filter-wrap {
    height: auto;
    // height: calc(var(--vh, 1vh) * 100 - var(--s3d-header) - var(--space-4));
  }
}

.tablet {
  .s3d-filter-wrap {
    .s3d-filter {
      overflow-y: auto;
      justify-content: flex-start;

      & > * {
        flex-shrink: 0;
      }

      & > :nth-child(n + 2) {
        margin-top: 12px;
      }
    }

    .s3d-filter__body tr {
      width: 100%;

      // border: 1px solid red;
      .s3d-filter__td {
        flex-grow: 1;
      }
    }
  }
}

.mobile {
  .flat-not-marked-message {
    transform: translate(-50%, 0) !important;
    left: 50% !important;
    top: auto !important;
    bottom: 0 !important;
    text-align: center;

    .tippy-arrow {
      display: none !important;
    }
  }

  .s3d-filter-wrap {
    // height: calc((var(--vh, 1vh) * 100) - var(--s3d-header) - var(--space-2));
    // max-height: calc((var(--vh, 1vh) * 100) - var(--s3d-header) - var(--space-2));
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
    // top: var(--s3d-header);
    border-radius: var(--border-space-2);

    &:not(.s3d-open-filter) {
      opacity: 0;
    }

    .s3d-filter__table {
      height: auto;
    }

    .s3d-filter__close-wrap {
      top: var(--space-2);
    }

    .s3d-filter__top {
      padding-top: var(--space-2);
    }
  }

  .s3d-filter-wrap.s3d-planning-filter-wrap.s3d-open-filter {
    transition: none;
    // max-height: 80vh;
    height: calc(var(--vh, 1vh) * 100 - var(--mobile-controller-height) - var(--space-5));
    overflow-y: auto;
    top: var(--space-4);
  }

  .s3d-pl__filter-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    .s3d-filter-wrap {
      pointer-events: all;
    }
  }

  .js-s3d-filter-open {
    .s3d-pl__filter-container {
      display: block;
      background-color: var(--bg-overlay);
    }

    .header {
      opacity: 0;
      pointer-events: none;
      .header__right {
        pointer-events: none !important;
      }
      .s3d__favourite {
        pointer-events: none !important;
      }
    }
  }

  .s3d-filter {
    overflow: hidden;
  }

  .s3d-filter-wrap .s3d-filter__top .s3d-filter__reset {
    position: static;
  }

  .s3d-filter-checkboxes {
    flex-wrap: wrap;
  }

  .s3d-filter-wrap .s3d-filter__close-wrap svg {
    width: 24px;
    height: 24px;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(1);
    transform: rotate(-45deg) translateY(50%) scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.91);
    transform: rotate(-45deg) translateY(50%) scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.98);
    transform: rotate(-45deg) translateY(50%) scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.87);
    transform: rotate(-45deg) translateY(50%) scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(1);
    transform: rotate(-45deg) translateY(50%) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(1);
    transform: rotate(-45deg) translateY(50%) scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.91);
    transform: rotate(-45deg) translateY(50%) scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.98);
    transform: rotate(-45deg) translateY(50%) scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(0.87);
    transform: rotate(-45deg) translateY(50%) scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: rotate(-45deg) translateY(50%) scale(1);
    transform: rotate(-45deg) translateY(50%) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
