.s3d2-apartment {
  &__flat-floor-plan-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--space-5);
    margin-top: var(--space-32);
    height: fit-content;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      gap: var(--space-5);
      padding: 0 var(--space-3);
    }
  }

  &__flat-explication-screen-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  &__flat-explication-screen-title {
    color: var(--s3d2-color-text-gray-900);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: var(--space-6);
  }

  &__flat-explication-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: var(--space-10);
    }
  }

  &__flat-explication-screen-table {
    width: (290 * 100vw) / 1512;
    display: flex;
    flex-direction: column;
    padding-right: var(--space-5);
    gap: var(--space-6);

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__flat-explication-screen-table-inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  &__flat-explication-screen-table-content {
    margin-right: calc(-1 * var(--space-5));
    padding-right: var(--space-5);
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  &__flat-explication-screen-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  &__flat-explication-screen-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-3);
  }

  &__flat-explication-screen-info-row-blank {
    height: 1px;
    background: var(--s3d2-color-surface-gray-900-transparent-10);
    flex-grow: 1;
  }

  &__flat-explication-screen-table__title {
    color: var(--s3d2-color-text-gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.1375rem */
  }

  &__flat-explication-screen-info-row-title {
    color: var(--s3d2-color-text-gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
  }

  &__flat-explication-screen-info-row-value {
    color: var(--s3d2-color-text-gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
  }

  &__flat-explication-screen-open {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-2) var(--space-5);
    border-radius: var(--space-2);
    background: var(--s3d2-color-surface-gray-900);
    color: var(--s3d2-color-text-gray-200);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.25s ease-out;

    &::after {
      content: '';
      width: 209%;
      height: 200%;
      position: absolute;
      top: -20%;
      left: -215%;
      -webkit-transform: skew(30deg);
      -ms-transform: skew(30deg);
      transform: skew(30deg);
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1),
        -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      background: var(--s3d2-color-surface-gray-200-transparent-10) !important;
    }
    &:hover {
      &::after {
        transform: translate3d(100%, 0, 0) skew(25deg);
      }
    }
  }

  &__flat-explication-screen-socials-wrap {
    display: flex;
    gap: var(--space-5);
    padding-top: var(--space-6);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--s3d2-color-surface-gray-900-transparent-10);
    }
  }
  &__flat-explication-screen-socials-share {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    transition: 0.25s ease-out;

    &:hover {
      transform: scale(1.2);
    }

    span {
      color: var(--s3d2-color-text-gray-900);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 18.2px */
    }

    svg {
      width: 13px;
      height: 13px;

      path {
        fill: var(--s3d2-color-icon-gray-900);
      }
    }
  }

  &__flat-explication-screen-socials {
    display: flex;
    gap: var(--space-1);
  }

  &__flat-explication-screen-socials-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-8);
    background: var(--s3d2-color-surface-gray-200-transparent-80);
    backdrop-filter: blur(20px);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: 0.15s ease-out;
      background-color: var(--s3d2-color-surface-gray-200-transparent-10);
      border-radius: 50%;
      overflow: hidden;
    }

    &:hover {
      &::after {
        transform: translateX(0);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      path {
        fill: var(--s3d2-color-icon-gray-900);
      }
    }
  }

  &__flat-explication-screen-slider {
    width: (1142 * 100vw) / 1512;
    height: fit-content;
    padding: var(--space-10);
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    border-radius: var(--space-3);
    border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);

    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: var(--space-3);
    }
  }
  &__flat-explication-screen-buttons--floor-wrap {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-6);
    width: 100%;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: var(--space-3);
    }
  }

  &__flat-explication-screen-buttons--divider {
    color: var(--s3d2-color-text-gray-900);
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__flat-explication-screen-buttons--floor {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0;
    border-radius: var(--space-2);
    border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
    height: var(--space-6);

    .ButtonWithoutIcon {
      background: transparent;
      border: none;
      height: 100%;
      padding: var(--space-1) var(--space-2);
      border-radius: var(--space-2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__flat-explication-screen-buttons--slider {
    align-self: center;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
    border-radius: var(--space-2);
    height: var(--space-6);
    width: fit-content;
  }

  &__flat-explication-screen-slide {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 70vh;
      object-fit: contain;

      @media screen and (max-width: 1024px) {
        height: 50vh;
      }
    }
  }

  &__flat-explication-screen-buttons--planning3d {
    display: flex;
    .ButtonWithoutIcon {
      background: transparent;
      border: none;
      height: 100%;
      padding: var(--space-1) var(--space-2);
      border-radius: var(--space-2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__flat-explication-screen-buttons--furnished {
    background: transparent;
    height: 100%;

    .s3d-ctr__menu-3d-btn-style {
      height: 100%;
      padding: var(--space-1) var(--space-2);
      background: transparent;
      border-radius: var(--space-2);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .s3d-ctr__filter__text {
      color: var(--s3d2-color-text-gray-900);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    .checkbox-wrapper-6 .tgl-light + .tgl-btn {
      height: 100%;
      width: var(--space-6);
      background: var(--s3d2-color-surface-gray-900);

      &:after {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__floor {
    width: calc((812 * 100vw) / 1920);
    height: auto;
    display: flex;
    flex-direction: column;
  }
  &__floor-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--space-3);

    .s3d-floor__nav-btn {
      width: 32px;
      height: 32px;
      border-radius: var(--space-8);
      background: var(--s3d2-color-surface-gray-200-transparent-80);
      backdrop-filter: blur(20px);

      &:hover {
        background: var(--hover-overlays-transparent-32);
      }

      svg {
        width: 24px;
        height: 24px;
        path {
          fill: var(--s3d2-color-icon-gray-900);
        }
      }
    }

    .s3d-floor__nav {
      [data-flat-floor-list] {
        width: 50px;
      }
    }
  }
  &__floor-clue {
    color: var(--s3d2-color-text-gray-900);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__floor-info-wrapper {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--space-2);
    border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
    padding: var(--space-3) var(--space-5);
  }

  &__floor-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 100%;

      width: 100%;
    }
  }
}
