@use "../../globals/fonts";

.FlatDocCard {
  padding: var(--space-16) var(--space-10);
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  justify-content: space-between;
  background: var(--color-gray-200);
  @media screen and (max-width: 1920px) {
    padding: var(--space-6);
    gap: var(--space-10);
  }
  &__title-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }
  &__date {
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    color: var(--text-gray-800);
  }

  &__title {
    @include fonts.text-style-3-d-fonts-1920-h-1();
    color: var(--text-gray-900);
    text-transform: uppercase;
    @media screen and (max-width: 1920px) {
      font-size: 24px;
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-28);
    @media screen and (max-width: 1920px) {
      gap: var(--space-20);
    }
  }

  &__img {
    &-group {
      display: flex;
      gap: var(--space-10);
      align-items: flex-start;

      @media screen and (max-width: 1920px) {
        gap: var(--space-6);
      }
    }
    width: calc(24.71% - var(--space-10) / 2);

    @media screen and (max-width: 1920px) {
      width: calc(24.71% - var(--space-6) / 2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    color: var(--text-gray-800);
    width: calc(76.29% - var(--space-10) / 2);
    @media screen and (max-width: 1920px) {
      width: calc(76.29% - var(--space-6) / 2);
    }
  }

  &__button {
    height: var(--space-16);
    width: fit-content;
    display: flex;
    padding: var(--space-5) var(--space-8);
    gap: var(--space-3);
    border-radius: var(--border-space-32);
    @media screen and (max-width: 1920px) {
      padding: var(--space-3) var(--space-8);
    }
    @media screen and (max-width: 1366px) {
      height: var(--space-12);
    }
    span {
      text-transform: uppercase;
    }
  }
}

.mobile {
  .FlatDocCard {
    padding: var(--space-5);
    grid-template-areas:
      'img date download'
      'img title title'
      'img description description';

    // &__download {
    //   margin-bottom: var(--space-2);
    // }

    // &__img {
    //   padding-right: var(--space-4);
    // }
  }
}
