/*EDITABLE PART START*/

/*Accent*/

$color-accent-700: #ff2c45;
$color-accent-800: #e42858;
$color-accent-900: #cd1c49;
$color-gray-100: #ffffff;
$color-gray-200: #fafbfe;
$color-gray-400: rgb(219, 228, 236);
$color-special-200-transparent-88: rgba($color-gray-200, 0.88);
$color-surface-gray-200-transperent-88: rgba($color-gray-200, 0.88);
$color-surface-gray-400-transperent-88: rgba($color-gray-400, 0.88);
$color-gray-300: #ecf2f8;
$color-gray-400: #dbe4ec;
$color-gray-500: #d1d9e1;
$color-gray-600: #aebecc;
$color-gray-600-transparent-40: rgba($color-gray-600, 0.4);
$color-gray-600-transparent-88: rgba($color-gray-600, 0.88);
$color-gray-700: #6c7a88;
$color-gray-800: #4b535b;
$color-gray-900: #1a1e21;

$color-surface-gray-900-transperent-10: rgba($color-gray-900, 0.1);
$color-surface-gray-900-transperent-40: rgba($color-gray-900, 0.2);
$color-shadow-gray-900-transperent-40: rgba($color-gray-900, 0.16);

$color-200-trancperent-88: #fafbfee0;
$color-900-trancperent-40: rgba($color-gray-900, 0.4);
$color-bg-overlays-transparent-80: rgba($color-gray-900, 0.8);
$color-brand-700: #a78943;
$color-brand-800: #6c6b2c;
$color-brand-900: #87864d;
$color-brand-hover-overlays-transparent-32: rgba($color-brand-800, 0.32);
$color-brand-hover-overlays-transparent-48: rgba($color-brand-800, 0.48);
$color-brand-active-element-transparent-72: rgba($color-brand-800, 0.72);

$hover-overlays-transparent-32: rgba($color-brand-800, 0.32);
$hover-overlays-transparent-48: rgba($color-brand-800, 0.48);
$active-element-transparent-72: rgba($color-brand-800, 0.72);

$color-effect-900-transparent-24: #2023263d;
$color-effect-900-transparent-40: #20232666;
$color-semantic-success: #83af8d;
$color-semantic-warning: #f1b161;
$color-semantic-warning-transparent-16: rgba($color-semantic-warning, 0.16);
$color-semantic-info: #64a5f8;
$color-semantic-danger: #e7473a;

$shadow-gray-900-transparent-24: #2023263d;
$shadow-gray-900-transparent-40: #20232666;

$bg-overlay: #1a1d21cc;

$color-special-accent-sold-overlays-transparent-16: #e4285829;
$color-special-accent-sold-overlays-transparent-72: #e42858b8;

$color-surface-success: #83af8d;
$color-surface-warning-transparent-16: rgba(131, 175, 141, 0.16);
$color-surface-success-available-transparent-20: rgba(131, 175, 141, 0.35);
$color-surface-success-available-hover-transparent-60: rgba(131, 175, 141, 0.6);

$border-space-0: 0px;
$border-space-025: 1px;
$border-space-05: 2px;
$border-space-1: 4px;
$border-space-2: 8px;
$border-space-3: 12px;
$border-space-4: 16px;
$border-space-5: 20px;
$border-space-6: 24px;
$border-space-8: 32px;
$border-space-10: 40px;
$border-space-12: 48px;
$border-space-16: 64px;
$border-space-20: 80px;
$border-space-24: 96px;
$border-space-28: 112px;
$border-space-32: 128px;

$space-0: 0px;
$space-025: 1px;
$space-05: 2px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-10: 40px;
$space-12: 48px;
$space-16: 64px;
$space-20: 80px;
$space-24: 96px;
$space-28: 112px;
$space-32: 128px;
$space-40: 160px;
$space-52: 208px;

/*EDITABLE PART END*/
