@use "../../../../globals/fonts";
@use "../../../../globals/s3d2_fonts";

.SvgPin {
  pointer-events: all;
  transform: none;
  & > * {
    pointer-events: none;
  }

  &__title {
    // color: var(--text-gray-900);
    // background-color: var(--color-surface-gray-900);
    // border: 1px solid var(--border-gray-900);
    // padding: var(--space-1) var(--space-3);
    // background-color: var(--s3d2-color-text-gray-200);
    // @include fonts.text-style-3-d-fonts-1920-body-regular;

    @include s3d2_fonts.fonts-3d-small-uppercase;
    color: var(--s3d2-color-text-gray-900);
    border-radius: var(--border-space-2);
    background-color: var(--s3d2-color-surface-gray-200);
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: var(--space-1);

    &:empty {
      opacity: 0;
    }
  }

  &__icon {
    & > * {
      pointer-events: none;
    }

    &-large {
      width: 65px !important;
      height: 90px !important;
      pointer-events: none !important;
    }

    &-small {
      width: 32px !important;
      height: 32px !important;
      pointer-events: none !important;
    }

    &-triangle {
      width: 10px !important;
      height: 5px !important;
      pointer-events: none !important;
    }
  }
}
