@use "../../globals/fonts";

.SvgFloorPolygonTooltip-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transform: translateY(-100%) translateX(0%);
  @media screen and (max-width: 768px) {
    transform: none;
  }
}

.SvgFloorPolygonTooltip {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    border-radius: 50%;
    background-color: var(--color-surface-gray-200);
    @include fonts.text-style-3-d-fonts-1920-h-2-regular;
    color: var(--text-gray-900);
    padding: var(--space-3);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font20);
    overflow: hidden;
    @media screen and (min-width: 769px) {
      position: relative;
      width: 64px;
      height: 64px;
    }
    @media screen and (min-width: 769px) {
      &:before {
        content: '+';
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        color: var(--color-surface-gray-200);
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 50% 50%);
        transition: all 0.5s ease;
      }
    }
    &.active {
      &:before {
        clip-path: circle(100% at 50% 50%);
        background-color: var(--border-brand-800);
      }
    }
  }

  &__description {
    background-color: var(--surface-gray-900);
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    font-size: 14px;
    padding: var(--space-1);
    color: var(--s3d2-color-text-gray-200);
    margin-top: var(--space-1);
    border-radius: var(--border-space-1);
    width: max-content;
  }

  &--active &__title {
    background-color: var(--surface-gray-900);
    border-color: var(--border-gray-900);
    color: var(--s3d2-color-text-gray-200);
  }
}

.safari {
  .SvgFloorPolygonTooltip-wrapper {
    transform: none;
  }
  .SvgFloorPolygonTooltip {
    &__title {
      position: static;
      &:before {
        display: none;
      }
    }
  }
}
