.s3d-flat-new {
  .s3d-villa__floor-inner {
    width: 100%;
  }
  .flat-page-none {
    display: none;
  }
  .s3d-villa__contact-screen {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  // .s3d-flat-new__bottom {
  //   display: block;
  //   width: 100%;
  //   height: 128px;
  //   border-bottom-right-radius: var(--border-space-32);
  //   border-bottom-left-radius: var(--border-space-32);
  //   // background: url('/wp-content/themes/3d/assets/s3d/images/background-inside.jpg');
  //   background-color: var(--color-gray-200);
  //   @media screen and (max-width: 768px) {
  //     height: 40px;
  //   }
  // }
}
