.s3d-flat-new__apartments-list {
  position: relative;
  padding: var(--space-32) var(--space-10) 0 var(--space-10);
  // background: url('/wp-content/themes/3d/assets/s3d/images/background-inside.jpg');
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  background-color: transparent;
  @media screen and (max-width: 768px) {
    padding-top: var(--space-5);
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }
  &-wrapper {
    margin-top: var(--space-16);
    @media screen and (max-width: 600px) {
      margin-top: var(--space-10);
    }
  }
  &-swiper-button-prev.swiper-button-disabled {
    opacity: 0.1;
    background: rgb(0, 0, 0);
    pointer-events: none;
    svg {
      path {
        fill: white;
      }
    }
  }
  &-swiper-button-next.swiper-button-disabled {
    opacity: 0.1;
    background: rgb(0, 0, 0);
    pointer-events: none;
    svg {
      path {
        fill: white;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .s3d-villa__floor__title-wrap {
      width: calc(100% + 2px);
      .s3d-villa__floor__title {
        width: 100%;
      }
      .s3d-villa__floor__title-wrap__line {
        display: none;
      }
    }
  }
}
