.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  padding: var(--space-4) var(--space-4) 0 var(--space-4);
  width: 100%;

  height: var(--s3d-header);
  background: none;
  pointer-events: none;

  &__left {
    display: flex;
    align-items: center;
    pointer-events: auto;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
    pointer-events: auto;

    & > :nth-child(n + 2) {
      margin-left: var(--space-1);
      border-radius: var(--space-2);
      border: 1px solid var(--s3d2-color-surface-gray-900-transparent-10);
      background: var(--s3d2-color-surface-gray-200-transparent-80);
      backdrop-filter: blur(20px);
    }

    .s3d2-ButtonIconLeft__icon--no-paints {
      stroke: none;
      margin-right: var(--space-2);
    }
  }

  [data-open-form] {
    -webkit-animation-duration: 8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: tremble;
    // svg,
    // span {
    // }
    // span {
    //   animation-delay: 0.25s;
    //   animation-direction: reverse;
    // }
  }
}

@-webkit-keyframes tremble {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  1% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  2% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  3% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  4% {
    -webkit-transform: translate(5px, -1px) rotate(1deg);
  }
  5% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  6% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
  }
  7% {
    -webkit-transform: translate(6px, 2px) rotate(-1deg);
  }
  8% {
    -webkit-transform: translate(-1px, -3px) rotate(1deg);
  }
  9% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(5px, -2px) rotate(-1deg);
  }
  11% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

.mobile {
  .header {
    &__right {
      & > :nth-child(n + 2) {
        margin-left: var(--space-05);
      }
    }
    touch-action: none;

    .ButtonIconRight:last-child {
      width: var(--space-10);
      height: var(--space-10);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--space-2);
      span {
        display: none;
      }
      svg {
        margin-left: 0;
      }
    }
    // [data-s3d-share],
    [data-fullscreen-mode] {
      display: none;
    }

    padding: var(--space-2) var(--space-2) 0 var(--space-2);
  }

  .js-s3d-filter-open:not([data-type='plannings']) .header {
    opacity: 0;
    visibility: hidden;
  }
}

.lang-wrap {
  position: relative;
  width: 40px;
  height: 40px;
}

.language-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  // justify-content:center ;
  align-items: center;
  overflow: hidden;
  width: 40px;
  max-height: 40px;
  border: 1px solid var(--border-gray-600-transparent-40);
  background-color: var(--color-surface-gray-200-transperent-88);
  border-radius: var(--border-space-2);
  transition: all 0.3s ease-in-out;

  &:hover {
    max-height: calc(var(--lang-count) * 40px);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--border-space-2);
    color: var(--text-gray-900);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      border-color: var(--border-gray-600-transparent-88);
      background-color: var(--color-surface-gray-400-transperent-88);
    }
  }
}
