@use "../../../globals/fonts";

.MobileSvgFlybyTooltip {
  background-color: var(--s3d2-color-text-gray-200);
  padding: var(--space-1);
  border-radius: var(--border-space-2);
  display: flex;
  flex-direction: column;

  width: max-content;
  align-items: flex-start;
  color: var(--s3d2-color-text-gray-200);
  @include fonts.text-style-3-d-fonts-1920-body-regular;

  svg {
    width: 16px;
    height: 16px;
    margin-right: var(--space-1);

    [fill] {
      fill: var(--s3d2-color-icon-gray-200);
    }

    [stroke] {
      stroke: var(--s3d2-color-icon-gray-200);
    }
  }

  &__title {
    // max-width: 60px;
    width: max-content;
    padding: var(--space-1) var(--space-2);
    background-color: var(--color-brand-active-element-transparent-72);
    border-radius: 4px;
    color: var(--s3d2-color-text-gray-200);
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    color: var(--text-gray-900);

    svg {
      display: none;
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: var(--space-1);
    }

    &-item ~ &-item {
      margin-left: var(--space-2);
    }
  }
}
