@use "../../../globals/fonts";

.Checkbox {
  &__input {
    display: none;
  }

  cursor: pointer;

  &__label {
    display: block;
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    border-radius: var(--border-space-2);
    padding: var(--space-3) !important;
    background-color: var(--color-surface-gray-200-transperent-88);
    border: 1px solid var(--border-gray-600-transparent-40);
    cursor: pointer;
    transition: 0.25s ease-out;

    @media screen and (max-width: 600px) {
      padding-top: calc(var(--space-3) - 1px) !important;
      padding-bottom: calc(var(--space-3) - 1px) !important;
    }
  }

  &:hover &__label {
    background-color: var(--color-surface-gray-300);
    border-color: var(--border-gray-600);
    color: var(--text-gray-900);
  }

  &__input:checked + &__label {
    border-color: var(--border-brand-900);
    background-color: var(--color-surface-brand-800);
    color: var(--s3d2-color-text-gray-200);
  }

  &:hover &__input:checked + &__label {
    // border-color: var(--border-gray-600-transparent-40);
    // background-color: var(--color-surface-gray-200-transperent-88);
    // color: var(--text-gray-900);
  }
}
