.s3d-villa__virtual-tour {
  &-wrap {
    display: flex;
    flex-direction: column;
    // background: url('/wp-content/themes/3d/assets/s3d/images/background-inside.jpg');
    gap: var(--space-16);
    padding: var(--space-40) 0 0 0;
    width: 100%;
    @media screen and (max-width: 1920px) {
      padding: var(--space-32) 0 0 0;
      gap: var(--space-12);
    }
    @media screen and (max-width: 768px) {
      padding: var(--space-20) 0 0 0;
      gap: var(--space-10);
    }

    .s3d-villa__floor__title-wrap {
      padding: 0 var(--space-10);
      @media screen and (max-width: 1920px) {
        padding: 0 var(--space-6);
      }

      @media screen and (max-width: 768px) {
        padding: 0 var(--space-5);
      }
    }
  }

  &-iframe-wrap {
    width: 100%;
    height: 90vh;
    position: relative;
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      z-index: 1;
      transform: translateZ(0px);
    }
    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 5;
      transform: translateZ(0px);
    }
    @media screen and (max-width: 600px) {
      height: 65vh;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
