@use "../../assets/mixins.scss";
@use "../../globals/fonts.scss";
@use "../../globals/s3d2_fonts.scss";

.payment {
  padding: var(--space-32) var(--space-6) 0 var(--space-6);

  &__title-icon-container {
    margin-bottom: var(--space-2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    &__title {
      @include s3d2_fonts.fonts-3d-h1;
      text-align: center;
      color: var(--s3d2-color-text-gray-900);
      margin: 0;
    }
  }

  &__icon-info-block {
    position: relative;

    &:hover {
      .payment__icon-info-block__text-block {
        opacity: 1;
      }
    }

    &__icon {
      width: 14px;
      height: 14px;
      fill: var(--s3d2-color-text-gray-900);
    }

    &__text-block {
      border: 1px solid var(--s3d2-color-border-gray-900);
      border-radius: var(--space-1);
      position: absolute;
      top: -25px;
      left: -10px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;

      &__text {
        @include s3d2_fonts.fonts-3d-tiny;
        margin: 0;
        padding: 4px 8px;
        white-space: nowrap;
        color: var(--s3d2-color-text-gray-900);
      }
    }
  }

  &__description {
    @include s3d2_fonts.fonts-3d-small-uppercase;
    text-align: center;
    text-transform: none;
    color: var(--s3d2-color-text-gray-400);
    margin-bottom: var(--space-10);
  }

  &-swiper-wrapper {
    position: relative;
    padding-top: var(--space-10);

    .swiper {
      overflow: visible;
    }

    .swiper--centered {
      .swiper-slide {
        flex: 1;
        max-width: none;
      }
    }
  }

  &__list {
    display: flex;
    position: relative;
    position: relative;

    &.swiper-wrapper {
      display: flex;
    }

    .payment-timeline {
      background: var(--s3d2-color-surface-gray-900);
      height: 1px;
      z-index: 0;
    }

    &__item {
      padding: var(--space-3);
      border-radius: var(--space-5);
      border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);
      background: var(--s3d2-color-surface-gray-200);
      position: relative;
      z-index: 1;
      height: 100%;
      min-height: 200px;

      &:last-of-type {
        margin-right: 0 !important;
      }

      &::before {
        position: absolute;
        content: '';
        background: var(--s3d2-color-surface-gray-900);
        width: 8px;
        height: 8px;
        border-radius: 100%;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }

      &.swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
      }

      &__title-container {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: -8px;
          left: 0;
          background-color: var(--s3d2-color-surface-gray-900-transparent-10);
          width: 100%;
          height: 1px;
        }
      }

      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        text-align: center;
        color: var(--s3d2-color-text-gray-900);
      }

      &__description-percent-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--space-6);
      }

      &__description {
        @include s3d2_fonts.fonts-3d-body;
        text-align: center;
        color: var(--s3d2-color-text-gray-900);
      }

      &__percent-container {
        margin-top: auto;
        @include s3d2_fonts.fonts-3d-h2;
        color: var(--s3d2-color-text-gray-900);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: var(--space-4);
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: -8px;
          left: 0;
          background-color: var(--s3d2-color-surface-gray-900-transparent-10);
          width: 100%;
          height: 1px;
        }

        &__percent {
        }

        &__payment {
        }
      }

      &__period {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        text-align: center;
      }
    }
  }

  &__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3);

    border-radius: var(--space-2);
    background-color: var(--s3d2-color-surface-gray-200-transparent-80);
    backdrop-filter: blur(20px);

    width: fit-content;
    // margin: 0 auto var(--space-10);
    margin: 0 auto;
    margin-top: var(--space-10);

    .swiper-button-disabled {
      button {
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }

        svg {
          opacity: 0.5;
        }
      }
    }

    &:has(.swiper-button-prev.swiper-button-disabled):has(.swiper-button-next.swiper-button-disabled) {
      display: none;
    }

    &__button {
      border-radius: var(--space-2);
      border: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 1;
      transition: 0.25s ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      svg {
        padding: var(--space-2);
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        fill: var(--s3d2-color-text-gray-900);
      }

      &:hover {
        border-radius: var(--space-2);
        background: var(--s3d2-color-surface-gray-900-transparent-10);
      }
    }
  }

  &__end-text {
    @include s3d2_fonts.fonts-3d-h3-semibold;
    text-align: center;
    color: var(--s3d2-color-text-gray-900);
  }
}
