@use "../../assets/mixins.scss";
@use "../../globals/fonts.scss";
@use "../../globals/s3d2_fonts.scss";

.s3d2__contact {
  &__iframe {
    width: calc((938 / 1920) * 100vw);
    height: 524px;

    @media screen and (max-width: 1366px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 460px;
    }

    iframe {
      border-radius: var(--space-2);
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: unset;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: calc((458 / 1920) * 100vw);
    padding: var(--space-5) 0;

    @media screen and (max-width: 1366px) {
      width: 48vw;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    &__title {
      @include s3d2_fonts.fonts-3d-h1;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: 4px;
    }

    &__description {
      @include s3d2_fonts.fonts-3d-body;
      color: var(--s3d2-color-text-gray-900);
    }
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: var(--space-10);
    }

    &__submit-wrapper {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      min-width: 170px;

      @media screen and (max-width: 768px) {
        align-self: center;
      }

      .form-progress-button {
        button {
          @include s3d2_fonts.fonts-3d-small-uppercase;
          color: var(--s3d2-color-text-gray-200);
          border-radius: var(--space-2);
          border: none;
          background: var(--s3d2-color-surface-gray-900);
          padding: var(--space-3) var(--space-8);
          height: 40px;
          min-width: 150px;
          transition: 0.25s ease-out;

          &:hover {
            background-color: var(--s3d2-color-surface-gray-900-transparent-60);
          }
        }

        svg {
          position: absolute;
          top: 46%;
          left: 50%;
          pointer-events: none;

          &.form-progress-circle,
          &.checkmark,
          &.cross {
            transform: scale(0.8) translate(-50%, -50%);

            path {
              stroke: var(--s3d2-color-text-gray-200);
              stroke-width: 6;
            }
          }
        }
      }
    }

    &__overflow {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);
    }

    &__title {
      @include s3d2_fonts.fonts-3d-body-uppercase;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: var(--space-1);
    }

    input {
      width: 100%;
      height: 64px;

      @media screen and (max-width: 1920px) {
        height: 48px;
      }
    }

    .input-message {
      @include s3d2_fonts.fonts-3d-small-medium;
      color: var(--s3d2-color-text-semantic-danger);
      font-weight: 400;
    }

    .s3d2-TextInput {
      padding: 15px 18px !important;
      transition: all 0.25s ease-out;

      &:hover {
        background-color: var(--color-surface-gray-300);
        border-color: var(--border-gray-600);
      }
    }

    .ButtonIconLeft {
      width: fit-content;
      height: var(--space-16);
      border-radius: var(--border-space-32);
      padding: var(--space-5) var(--space-8);
      gap: var(--space-3);

      @media screen and (max-width: 1920px) {
        padding: var(--space-3) var(--space-8);
      }

      @media screen and (max-width: 1366px) {
        height: var(--space-12);
      }

      span {
        text-transform: uppercase;

        @media screen and (max-width: 1366px) {
          font-size: 11px;
        }
      }
    }
  }
}

.s3d2__contact--v1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-32) var(--space-6) 0 var(--space-6);
  gap: var(--space-12);

  &__content {
    display: flex;
    align-items: stretch;
    gap: var(--space-10);

    @media screen and (max-width: 1366px) {
      flex-direction: column;
    }

    &__column {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-radius: var(--space-3, 12px);
      border: 1px solid var(--s3d2-color-border-gray-900);
      overflow: hidden;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: var(--space-10);
      }

      &:last-child {
        border: none;
      }

      &--without-border {
        border: none;
      }
    }
  }

  &__manager {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: calc((690 / 1920) * 100vw);

    @media screen and (max-width: 1366px) {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      width: unset;
      padding-top: var(--space-5);
    }

    &--with-border {
      border-radius: var(--space-2, 8px);
      border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);
    }

    &__name {
      @include s3d2_fonts.fonts-3d-h1;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: var(--space-2);

      @media screen and (max-width: 768px) {
        font-size: 32px;
        min-width: 200px;
        text-align: center;
      }
    }

    &__title {
      @include s3d2_fonts.fonts-3d-body;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: 40px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &__phone,
    &__email {
      position: relative;
      @include s3d2_fonts.fonts-3d-h2;
      color: var(--s3d2-color-text-gray-900);
      text-decoration: none;
      margin-bottom: var(--space-3);

      @media screen and (max-width: 768px) {
        font-size: 20px;
        min-width: 200px;
        text-align: center;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--s3d2-color-text-gray-900);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease;
      }
    }

    &__email {
      margin-bottom: 40px;
    }

    &__booking-button {
      @include s3d2_fonts.fonts-3d-h2;
      color: var(--s3d2-color-text-gray-200);
      border-radius: var(--space-52, 208px);
      border: none;
      background-color: var(--s3d2-color-surface-gray-900);
      padding: var(--space-5) var(--space-3) var(--space-5) var(--space-8);
      display: flex;
      align-items: center;
      gap: var(--space-5);
      cursor: pointer;
      height: 60px;
      transition: 0.25s ease-out;

      @media screen and (max-width: 768px) {
        padding: var(--space-3) var(--space-8);
      }

      svg {
        border-radius: var(--space-52, 208px);
        background: var(--s3d2-color-surface-gray-200);
        width: 40px;
        height: 40px;
        padding: var(--space-2);
        transition: 0.25s ease-out;
        stroke: var(--s3d2-color-text-gray-900);
      }

      &:hover {
        background-color: var(--s3d2-color-surface-gray-900-transparent-60);

        svg {
          background: var(--s3d2-color-surface-gray-200-transparent-72);
        }
      }
    }

    &__image-block {
      width: calc((690 / 1920) * 100vw);
      overflow: hidden;

      @media screen and (max-width: 1366px) {
        width: 50%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: var(--space-2);
      }
    }

    &__image {
      display: block;
      height: auto;
      object-fit: cover;
      aspect-ratio: 691 / 522;
      max-width: none;
      width: 100%;
      height: 100%;
      object-position: center;

      @media screen and (max-width: 768px) {
        border-radius: var(--space-2);
        max-width: 100%;
      }
    }
  }
}

.s3d2__contact--v2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-32) var(--space-6) 0 var(--space-6);
  gap: var(--space-12);

  &__content {
    display: flex;
    align-items: stretch;
    gap: var(--space-2);

    @media screen and (max-width: 1366px) {
      flex-direction: column;
      gap: var(--space-8);
    }

    @media screen and (max-width: 768px) {
      gap: var(--space-5);
    }

    &__column-container {
      display: flex;
      gap: var(--space-10);
      height: 100%;

      @media screen and (max-width: 1550px) {
        gap: var(--space-5);
      }

      @media screen and (max-width: 1366px) {
        flex-direction: row;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: var(--space-10);
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);
      overflow: hidden;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: var(--space-3);
      }

      &--with-border {
        border-radius: var(--space-2, 8px);
        border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);
        padding: var(--space-5);
        width: calc((398 / 1920) * 100vw);
        aspect-ratio: unset;
        height: 524px;

        @media screen and (max-width: 1366px) {
          width: 100vw;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 100%;
        }
      }

      &:last-child {
        border: none;
      }
    }

    &__title {
      @include s3d2_fonts.fonts-3d-h1;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: 4px;
    }

    &__description {
      @include s3d2_fonts.fonts-3d-body;
      color: var(--s3d2-color-text-gray-900);
    }

    &__global-number {
      &__link {
        @include s3d2_fonts.fonts-3d-h2;
        color: var(--s3d2-color-text-gray-900);
        text-decoration: none;
        position: relative;

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: var(--s3d2-color-text-gray-900);
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s ease;
        }
      }
    }

    &__social-list {
      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }

      &__list {
        display: flex;
        gap: var(--space-2);
        flex-wrap: wrap;

        @media screen and (max-width: 1366px) {
          gap: var(--space-2);
        }

        @media screen and (min-width: 1366px) and (max-width: 1402px) {
          gap: var(--space-1);
        }
      }

      &__link {
        width: 24px;
        height: 24px;
        transition: transform 0.25s ease-out;

        &:hover {
          transform: scale(1.25);
        }
      }
    }

    &__email {
      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }

      &__link {
        position: relative;
        @include s3d2_fonts.fonts-3d-body;
        color: var(--s3d2-color-text-gray-900);
        text-decoration: none;
        transition: transform 0.25s ease-out;

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: var(--s3d2-color-text-gray-900);
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s ease;
        }
      }
    }

    &__sales-department {
      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }

      &__link {
        position: relative;
        @include s3d2_fonts.fonts-3d-body;
        color: var(--s3d2-color-text-gray-900);
        text-decoration: none;

        display: flex;
        align-items: center;
        gap: var(--space-2);

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: var(--s3d2-color-text-gray-900);
          max-width: 200px;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s ease;
        }
      }
    }

    &__working-hours {
      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }

      &__text {
        @include s3d2_fonts.fonts-3d-body;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__construction-department {
      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }

      &__link {
        position: relative;
        @include s3d2_fonts.fonts-3d-body;
        color: var(--s3d2-color-text-gray-900);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: var(--space-2);

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: var(--s3d2-color-text-gray-900);
          max-width: 152px;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s ease;
        }
      }
    }
  }
}

.s3d2__contact--v3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-32) var(--space-6) 0 var(--space-6);
  gap: var(--space-12);

  &__content {
    display: flex;
    align-items: stretch;
    gap: var(--space-2);

    @media screen and (max-width: 1366px) {
      flex-direction: column;
      gap: var(--space-8);
    }

    @media screen and (max-width: 768px) {
      gap: var(--space-5);
    }

    &__column-container {
      display: flex;
      gap: var(--space-10);
      height: 100%;

      @media screen and (max-width: 1550px) {
        gap: var(--space-5);
      }

      @media screen and (max-width: 1366px) {
        flex-direction: row;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: var(--space-10);
      }
    }

    &__column {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: var(--space-8);
      }

      &--with-border {
        border-radius: var(--space-2, 8px);
        border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);
        padding: var(--space-5);
      }

      &:last-child {
        border: none;
      }
    }
  }

  &__manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: var(--space-5) 0;

    border-radius: var(--space-2, 8px);
    border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);

    width: calc((398 / 1920) * 100vw);
    height: 524px;

    @media screen and (max-width: 1366px) {
      width: 100vw;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
      padding: var(--space-8) 0;
    }

    &__name {
      @include s3d2_fonts.fonts-3d-h1;
      color: var(--s3d2-color-text-gray-900);
      margin-bottom: 8px;

      @media screen and (max-width: 768px) {
        font-size: 32px;
        min-width: 200px;
        text-align: center;
      }
    }

    &__title {
      @include s3d2_fonts.fonts-3d-body;
      margin-bottom: var(--space-10);

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &__image {
      width: 140px;
      height: 140px;
      margin: 0 auto var(--space-6);
      border-radius: 50%;
    }

    &__phone,
    &__email {
      position: relative;
      @include s3d2_fonts.fonts-3d-h2;
      color: var(--s3d2-color-text-gray-900);
      text-decoration: none;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        min-width: 200px;
        text-align: center;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--s3d2-color-text-gray-900);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease;
      }
    }

    &__phone {
      margin-bottom: var(--space-6);
    }

    &__email-block {
      margin-bottom: var(--space-6);
      text-align: center;

      &__title {
        @include s3d2_fonts.fonts-3d-body-uppercase;
        color: var(--s3d2-color-text-gray-900);
        margin-bottom: var(--space-2);
      }
    }

    &__booking-button {
      @include s3d2_fonts.fonts-3d-small-uppercase;
      color: var(--s3d2-color-text-gray-200);
      border-radius: var(--space-2, 8px);
      border: 1px solid transparent;
      background: var(--s3d2-color-surface-gray-900);
      padding: var(--space-3, 12px) var(--space-8, 32px);
      height: 40px;
      min-width: 150px;
      transition: 0.25s ease-out;
      cursor: pointer;

      &:hover {
        background-color: var(--s3d2-color-surface-gray-900-transparent-60);
      }
    }
  }
}
