.CompareItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  width: 40%;
  border: 1px solid transparent;
  border-radius: var(--border-space-2);
  transition: .25s ease-out;
  &__close  {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 8px;
    transform-origin: center;
    transition: .25s ease-out;
    cursor: pointer;
    z-index: 2;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__table {
    overflow-y: scroll;
    height: 35vh;
    margin-right: 4px;
    overscroll-behavior: none;
    @media screen and (max-width:600px){
      overscroll-behavior: auto;
    }
    &::-webkit-scrollbar {
      background-color: none;
      width: 4px;
      &-thumb {
        border-radius: 10px;
        height: 44px;
        background-color: var(--text-gray-600);
      }
      &-track {
        background-color: none;
      }
    }
    &-cell {
      display: flex;
      align-items: center;
      &>:nth-child(1) {
        margin-right: var(--space-2);
      }
    }
    &-row {
      padding-left: var(--space-5);
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);
    }
    &-title {
      color: var(--color-gray-700);
    }
  }
  &__link {
    margin: 27px var(--space-5) var(--space-8);
  }
  &__img {
    position: relative;
    padding-bottom: 52.5%;
    margin-bottom: var(--space-5);

    border-radius: var(--border-space-2);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
@media screen and (min-height:880px){
  .mouseOnly,
  .hybrid {
    .CompareItem:hover { 
      border-color: var(--border-gray-600-transparent-88);
    }
  }

}

.landscape {
  .CompareItem {
    & > * {
      // width: 23%;
    }
  }
}

.tablet { 
  .CompareItem {
    &__table {
        height: 196px;
      }
    }
}

.mobile {
  .CompareItem {
    // background-color: var(--color-surface-gray-200);
    border: 1px solid var(--border-gray-400);
    border-radius: var(--border-space-2);
    &__link {
      margin: var(--space-5) var(--space-5) var(--space-8) var(--space-5);
    }
    &__table {
      // height: 109px;
      height: 21vh;
    }
  }
}
