@use "../assets/mixins";

.MobileFunctionsMenu {
  position: fixed;
  bottom: calc(var(--mobile-controller-height) + var(--space-1));
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
  padding: var(--space-2);
  background-color: var(--color-surface-gray-200-transperent-88);
  width: 360px;
  max-width: 100vw;
  border-radius: var(--border-space-3);
  padding-bottom: var(--space-5);
  touch-action: none;
  @include mixins.elementHidden;
  transition: all 0.3s ease-in-out;

  &.active {
    @include mixins.elementVisible;
  }

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  gap: var(--space-05);
  flex-wrap: wrap;

  &__row {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-200-trancperent-88);
    border-radius: var(--border-space-2);

    .IconButton {
      border: none
    }
  }

  &__title {
    text-align: center;
    flex-grow: 1;
    padding: var(--space-2) var(--space-3);
  }

  .s3dFlybySideChooser,
  .s3d-ctr__menu-3d-btn-style,
  .ButtonWithoutIcon {
    width: 100%;
    text-align: left;
  }

  .s3dFlybySideChooser,
  .s3d__choose--flat {
    width: max-content;
    width: 100%;
    height: 40px;

    .ButtonWithoutIcon {

      text-align: center;
    }
  }

  .s3d-floor__tabs-title-mob {
    display: none;
  }

  .s3d-floor__tabs-wrapper {
    display: flex;
    flex-wrap: wrap;

    .s3d-floor__info-container__title {
      width: 100%;
    }

    .CheckboxWithLabel {
      width: 50%;
    }

    .CheckboxWithLabel {
      margin-top: var(--space-2);
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    // border-radius: 50%;
    // background: var(--color-200-trancperent-88);
    // padding: var(--space-2);
    // transform: translate(50%, -50%);
    transform: translate(-4%, 4%);
    // border: 1px solid var(--border-gray-600-transparent-40);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &[data-mobile-floor-functions-menu] &__title {
    text-align: center;
    padding-bottom: var(--space-05);
  }

  &[data-mobile-floor-functions-menu] .s3d-ctr__menu-3d-btn-style {
    margin-bottom: var(--space-3);
  }

  &[data-mobile-floor-functions-menu] .s3d-floor__info-container__title {
    margin-bottom: 0;
  }
}



.desktop {
  .MobileFunctionsMenu {
    display: none !important;
  }
}