@use "../assets/mixins";

.MobileNavigationMenu {
  position: fixed;
  bottom: calc(var(--mobile-controller-height) + var(--space-1));
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
  padding: var(--space-2);
  background-color: var(--color-surface-gray-200-transperent-88);
  width: 360px;
  max-width: 100vw;
  border-radius: var(--border-space-3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  gap: var(--space-05);
  flex-wrap: wrap;

  @include mixins.elementHidden;
  transition: all 0.3s ease-in-out;

  &.active {
    @include mixins.elementVisible;
  }

  .js-s3d-nav__btn {
    &[data-type='flat'] {
      display: none;
    }
    &[data-type='flat'][data-id] {
      display: flex;
    }
    &[data-type='flat'][data-id='undefined'] {
      display: none;
    }
  }
  &__title {
    text-align: center;
    flex-grow: 1;
    padding: var(--space-2) var(--space-3);
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    // border-radius: 50%;
    // background: var(--color-200-trancperent-88);
    // padding: var(--space-2);
    // transform: translate(50%, -50%);
    // border: 1px solid var(--border-gray-600-transparent-40);
    transform: translate(-4%, 4%);
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .s3d-ctr__menu-3d-btn-style,
  .ButtonWithoutIcon {
    width: 100%;
  }
  .ButtonWithoutIcon {
    text-align: left;
  }
}

.desktop {
  .MobileNavigationMenu {
    display: none !important;
  }
}
